<fieldset>
	<legend>CLIENTE</legend>
	<table class="table">
		<thead>
			<tr>
				<th>Agente</th>
				<th>Banca Abi</th>
				<th>Banca Cab</th>
				<th>Cod. Fiscale</th>
				<th>Email</th>
				<th>Fax</th>
				<th>Ident</th>
				<th>Indirizzo</th>
				<th>Località</th>
				<th>Pagamento</th>
				<th>Partita Iva</th>
				<th>Provincia</th>
				<th>Regione</th>
				<th>Telefono</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{customer.agente}}</td>
				<td>{{customer.bancaAbi}}</td>
				<td>{{customer.bancaCab}}</td>
				<td>{{customer.codFiscale}}</td>
				<td>{{customer.email}}</td>
				<td>{{customer.fax}}</td>
				<td>{{customer.ident}}</td>
				<td>{{customer.indirizzo}}</td>
				<td>{{customer.localita}}</td>
				<td>{{customer.pagamento}}</td>
				<td>{{customer.partitaIva}}</td>
				<td>{{customer.provincia}}</td>
				<td>{{customer.regione}}</td>
				<td>{{customer.telefono}}</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<fieldset>
	<legend>ARTICOLI</legend>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Cod. Articolo</th>
				<th>Tipo</th>
				<th>Materiale</th>
				<th>Quantita</th>
				<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo</th>
				<th>Spess</th>
				<th>Largh</th>
				<th>Lungh</th>
				<th>Peso (kg)</th>
				<th>Data Consegna</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="article in articlesCut">
				<td>{{article.codArticolo}}</td>
				<td>{{article.tipo}}</td>
				<td>{{article.materiale}}</td>
				<td>{{article.quantita}}</td>
				<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{article.prezzo}}</td>
				<td>{{article.spessore}}</td>
				<td>{{article.larghezza}}</td>
				<td>{{article.lunghezza}}</td>
				<td>{{article.peso}}</td>
				<td>{{article.dataConsegna| date:'medium'}}</td>
			</tr>
		</tbody>
	</table>
</fieldset>