<h2>
	ORDINI DI TAGLIO
	<button type="button" class="btn btn-primary" ng-click="refresh()">Refresh</button>
</h2> 

<uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="entryLimit" max-size="maxSize" class="pagination" boundary-links="true" force-ellipses="true"></uib-pagination>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Codice</th>
			<th>CodiceCliente</th>
			<th>Data</th>
			<th>Note</th>
			<th>Accettato</th>
			<th>Operatore</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cut in cuts | orderBy:['accepted','codice']|startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
			<td><button type="button" class="btn btn-info btn-block" ng-click="openArticlesCut(cut)" data-target="#cutarticle" data-toggle="modal">{{cut.codice}}</button></td>
			<td>{{cut.clienteCod}}</td>
			<td>{{cut.date | date:'medium'}}</td>
			<td>{{cut.note}}</td>
			<td ng-if="cut.accepted == true"><span class="label label-success">{{cut.accepted}}</span></td>
			<td ng-if="cut.accepted == false"><button type="button" class="btn btn-primary btn-block" ng-click="confirmCut(cut)">Conferma</button></td>
			<td>{{cut.operator|uppercase}}</td>
		</tr>
	</tbody>
</table>


<!-- Modal cut_products.html-->
<div id="cutarticle" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">ARTICOLI COD. ORDINE {{cut.codice}}</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/cut/cut_products.html'"></div>
			</div>
		</div>
<!--
		<div class="modal-footer">
		</div>
-->
	</div>
</div>