<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Data Consegna</th>
			<th>Cod.Articolo</th>
			<th>Tipo</th>
			<th>Materiale</th>
			<th>Quantita</th>
			<th>Prezzo</th>
			<th>Spessore</th>
			<th>Larghezza</th>
			<th>Lunghezza</th>
			<th>Peso</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="article in articles">
			<td>{{article.dataConsegna}}</td>
			<td>{{article.codArticolo}}</td>
			<td>{{article.tipo}}</td>
			<td>{{article.materiale}}</td>
			<td>{{article.quantita}}</td>
			<td>{{article.prezzo}}</td>
			<td>{{article.spessore}}</td>
			<td>{{article.larghezza}}</td>
			<td>{{article.lunghezza}}</td>
			<td>{{article.peso}}</td>
			<td><button type="button" class="btn btn-primary btn-circle" ng-click="addArticle(article, $index)"><span class="glyphicon glyphicon-plus"></span></button></td>
		</tr>
	</tbody>
</table>