<h1>GIACENZA</h1> 
<br><br>
<div>
    <span class="glyphicon glyphicon-filter" aria-hidden="true"><b>Materiale</b></span>&nbsp&nbsp
    <span ng-repeat="materiale in stockCtrl.features.materiali">
        <input type="checkbox" ng-click="stockCtrl.includeVal(materiale, stockCtrl.materialArray)">{{materiale}}&nbsp&nbsp
    </span>
</div>

<div>
    <span class="glyphicon glyphicon-filter" aria-hidden="true"><b>Tipo</b></span>&nbsp&nbsp
    <span ng-repeat="tipo in stockCtrl.features.tipi">
        <input type="checkbox" ng-click="stockCtrl.includeVal(tipo, stockCtrl.typeArray)">{{tipo}}&nbsp&nbsp
    </span>
</div>

<div>
    <span class="glyphicon glyphicon-filter" aria-hidden="true"><b>Spessore</b></span>&nbsp&nbsp
    <span ng-repeat="spessore in stockCtrl.features.spessoriNominali">
        <input type="checkbox" ng-click="stockCtrl.includeVal(spessore, stockCtrl.spessorArray)">{{spessore}}&nbsp&nbsp
    </span>
</div>

<div>
    <span class="glyphicon glyphicon-filter" aria-hidden="true"><b>Larghezza</b></span>&nbsp&nbsp
    <span ng-repeat="larghezza in stockCtrl.features.larghezzeNominali">
        <input type="checkbox" ng-click="stockCtrl.includeVal(larghezza, stockCtrl.larghArray)">{{larghezza}}&nbsp&nbsp
    </span>
</div>
<br><br>
<fieldset ng-repeat-start="m2p in stockCtrl.monster | stockFilter:stockCtrl.materialArray">
	<h3 align="center"><b>Materiale: {{m2p.key|uppercase}}</b> {{m2p.weight}} kg</h3>
	<div ng-repeat-start="t2p in m2p.value |stockFilter:stockCtrl.typeArray">
		<legend><b>Tipo: {{t2p.key|uppercase}}</b> {{t2p.weight}} kg</legend>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Num Collo</th>
					<th>Matricola</th>
					<th>Spessore</th>
					<th>Largh. Nom.</th>
					<th>Largh. Eff.</th>
					<th>Qualita</th>
					<th>Scelta</th>
					<th>Finitura</th>
					<th>Colore/Ral</th>
					<th>Superficie</th>
					<th>Lungh</th>
					<th>Num. Fogli</th>
					<th>Peso Netto(kg)</th>
					<th>Peso Lordo(kg)</th>
					<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
					<th>Difetti</th>
					<th>Stab</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="s2p in t2p.value|stockFilter:stockCtrl.spessorArray"></tr>
				<tr ng-repeat-start="l2p in s2p.value|stockFilter:stockCtrl.larghArray"></tr>
				<tr ng-repeat="p in l2p.value">
					<td>
						<span style="color:blue">{{p.numeroCollo}}</span>
					</td>
					<td>{{p.matricola}}</td>
					<td>{{s2p.key}}</td>
					<td>{{l2p.key}}</td>
					<td>{{p.larghezza}}</td>
					<td>{{p.qualita|uppercase}}</td>
					<td>{{p.scelta}}</td>
					<td>{{p.finitura}}</td>
					<td>{{p.coloreRal}}</td>
					<th>{{p.superficie}}</th>
					<td>{{p.lunghezza}}</td>
					<td>{{p.numFogli}}</td>
					<td>
						<span ng-if="p.pesoNetto>=5000" style="color:green">{{p.pesoNetto}}</span>
						<span ng-if="p.pesoNetto<5000" style="color:orange">{{p.pesoNetto}}</span>
					</td>
					<td>{{p.pesoLordo}}</td>
					
					<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{p.prezzo}}</td>
					<td>{{p.difetti}}</td>
					<td>{{p.stabilimento}}</td>
					<td>
						<button type="button" class="btn btn-danger btn-block" ng-click="prepareDeleteStock(p,monster.indexOf(m2p),m2p.value.indexOf(t2p),t2p.value.indexOf(s2p),s2p.value.indexOf(l2p),l2p.value.indexOf(p))" data-target="#deletestock" data-toggle="modal">
							<div>Esaurito</div><span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
					
				</tr>
				<tr ng-repeat-end>
					<td colspan="16"><div align="right"><b>Totale:</b> {{l2p.weight}} kg</div></td>
				</tr>
				<tr ng-repeat-end ng-hide="true"></tr>
			</tbody>
		</table>
	</div>
	<div ng-repeat-end ng-hide="true"></div>
</fieldset>
<fieldset ng-repeat-end ng-hide="true"></fieldset>



<!-- Modal deletestock-->
<div id="deletestock" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" align="center">Elimina Stock</h3>
			</div>
			<div class="modal-body">
				<div>Verrà eliminato definitivamente il prodotto all'interno dello stock</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button type="button" class="btn btn-success" ng-click="deleteProduct(product,index1,index2,index3,index4,index5)" data-dismiss="modal">Conferma</button>
			</div>
		</div>
	</div>
</div>