<form name="$parent.productForm" class="form-horizontal" novalidate>

	<div class="form-group">
		<label for="matricola" class="col-md-2 control-label">Matricola:</label> 
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.matricola" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="stabilimento" class="col-md-2 control-label">Stabilimento:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.stabilimento" ng-options="stabilimento for stabilimento in features.stabilimenti" class="form-control" convert-to-number required>
<!--				<option value="">-- seleziona --</option>-->
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="tipo" class="col-md-2 control-label">Tipo:</label>  
		<div class="col-md-10">
			<select ng-model="$parent.product.tipo" ng-options="tipo for tipo in features.tipi" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="materiale" class="col-md-2 control-label">Materiale:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.materiale"  ng-options="materiale for materiale in features.materiali" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'zincato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.qualita" ng-options="qualZinc for qualZinc in features.qualitaZincato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'decapato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">		
			<select ng-model="$parent.product.qualita" ng-options="qualDec for qualDec in features.qualitaDecapato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'laf'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.qualita" ng-options="qualLaf for qualLaf in features.qualitaLaf" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'caldo'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.qualita" ng-options="qualCal for qualCal in features.qualitaCaldo" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'preverniciato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.qualita" ng-options="qualPrev for qualPrev in features.qualitaPreverniciato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'elettrozincato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.qualita" ng-options="qualEl for qualEl in features.qualitaElettrozincato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if = "product.materiale == 'inox'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.qualita" ng-options="qualIn for qualIn in features.qualitaInox" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="scelta" class="col-md-2 control-label">Scelta:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.scelta" ng-options="scelta for scelta in features.scelte" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if = "product.materiale == 'preverniciato' || product.materiale == 'zincato'">
		<label for="finitura" class="col-md-2 control-label">Finitura:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.finitura" ng-options="finZP for finZP in features.finitureZincPrev" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale == 'inox'">
		<label for="finitura" class="col-md-2 control-label">Finitura:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.finitura" ng-options="finIn for finIn in features.finitureInox" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if = "product.materiale == 'preverniciato'">
		<label for="coloreRal" class="col-md-2 control-label">Colore/Ral:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.coloreRal" ng-options="colore for colore in features.colori" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	
	<div class="form-group" ng-if = "product.materiale == 'zincato'">
		<label for="coloreRal" class="col-md-2 control-label">Superficie:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.superficie" ng-options="superficie for superficie in features.superficiZincato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="peso" class="col-md-2 control-label">Peso(kg):</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.pesoNetto" class="form-control"/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="spessore" class="col-md-2 control-label">Spessore:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.spessore" class="form-control" ng-options="spessore for spessore in features.spessori" convert-to-float>
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="larghezza" class="col-md-2 control-label">Larghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.larghezza" class="form-control"/>
		</div>
	</div>
	
	<div class="form-group" ng-if="product.tipo != 'coil' && product.tipo != 'nastro'">
		<label for="lunghezza" class="col-md-2 control-label">Lunghezza:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.lunghezza" ng-options="lunghezza for lunghezza in features.lunghezze" class="form-control" convert-to-number>
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	<div ng-if="userRole == 'logistica' || userRole == 'admin'" class="form-group">
		<label for="prezzo" class="col-md-2 control-label">Prezzo:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.prezzo" class="form-control"/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="stato" class="col-md-2 control-label">Stato:</label>
		<div class="col-md-10">
			<select ng-model="$parent.product.stato" ng-options="stato for stato in features.stati" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="note" class="col-md-2 control-label">Difetti:</label>
		<div class="col-md-10">
			<textarea name="textArea" ng-model="$parent.product.difetti" class="form-control"></textarea>
		</div>
	</div>
</form>