<style>
	.ng-invalid {border-color: #FA787E;}
	.ng-valid {border-color: #78FA89;}
</style>
<form name="$parent.productForm" class="form-horizontal" novalidate>

	<div class="form-group">
		<label for="matricola" class="col-md-2 control-label">Matricola:</label> 
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.matricola" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="cop" class="col-md-2 control-label">Tipo:</label>  
		<div class="col-md-10">
			<select ng-model="$parent.product.cop" class="form-control" required>
				<option value="coil">Coil</option>
				<option value="pacco">Pacco</option>
				<option value="nastro">Nastro</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="materiale" class="col-md-2 control-label">Materiale:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.materiale" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.qualita" class="form-control" required/>
		</div>
	</div>

	<div class="form-group" ng-if = "product.materiale == 'preverniciato' || product.materiale == 'zincato'">
		<label for="finitura" class="col-md-2 control-label">Finitura:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.finitura" class="form-control" required/>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale != 'preverniciato' && product.materiale != 'zincato'">
		<label for="finitura" class="col-md-2 control-label">Finitura:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.finitura" class="form-control" disabled/>
		</div>
	</div>

	<div class="form-group" ng-if = "product.materiale == 'preverniciato'">
		<label for="colore" class="col-md-2 control-label">Colore:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.colore" class="form-control" required/>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale != 'preverniciato'">
		<label for="colore" class="col-md-2 control-label">Colore:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.colore" class="form-control" disabled/>
		</div>
	</div>

	<div class="form-group" ng-if = "product.materiale == 'preverniciato'">
		<label for="ral" class="col-md-2 control-label">Ral:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.ral" class="form-control" required/>
		</div>
	</div>
	<div class="form-group" ng-if = "product.materiale != 'preverniciato'">
		<label for="ral" class="col-md-2 control-label">Ral:</label>
		<div class="col-md-10">
			<input type="text" ng-model="$parent.product.ral" class="form-control" disabled/>
		</div>
	</div>

	<div class="form-group">
		<label for="lunghezza" class="col-md-2 control-label">Lunghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.lunghezza" class="form-control" required/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="larghezza" class="col-md-2 control-label">Larghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.larghezza" class="form-control" required/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="spessore" class="col-md-2 control-label">Spessore:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.spessore" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="pesokg" class="col-md-2 control-label">Peso (kg):</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.pesokg" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="pesoton" class="col-md-2 control-label">Peso (t):</label>
		<div class="col-md-10">
			{{$parent.product.pesokg/1000}}
		</div>
	</div>

	<div class="form-group">
		<label for="prezzo" class="col-md-2 control-label">Prezzo:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.product.prezzo" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="note" class="col-md-2 control-label">Note:</label>
		<div class="col-md-10">
			<textarea name="textArea" ng-model="$parent.product.note" class="form-control"></textarea>
		</div>
	</div>
</form>

<!--<pre>Prodotto= {{product | json}}</pre>-->
  		