<!DOCTYPE html>
<html lang="en" ng-app="store">

	<head>
		<title>COPAL</title>

		<!-- jquery -->
<!--
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
-->

		
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/jquery-migrate/jquery-migrate.min.js"></script>
		

		<!-- Bootstrap CSS -->
<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
-->

		
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">	
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		

		<link rel="stylesheet" type="text/css" href="public/mystyle.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand"><b>Plimco</b></a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a ng-if="isLogged" class="dropdown-toggle" data-toggle="dropdown" href=""><b>Stock</b><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/stock">Stock Effettivo</a></li>
								<li><a href="">Stock Virtuale</a></li> 
							</ul>
						</li>
						<li><a ng-if="isLogged" href="#/carichiIn"><b>Carichi in entrata</b></a></li>
						<li><a ng-if="isLogged" href="#/cut"><b>Ordini in entrata</b></a></li>
						<li class="dropdown">
							<a ng-if="isLogged" class="dropdown-toggle" data-toggle="dropdown" href=""><b>Produzione</b><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/productionSort">Riepilogo</a></li>
								<li><a href="#/productionState">Stato produzione</a></li> 
							</ul>
						</li>
					</ul>

	<!--
					<form class="navbar-form navbar-left" role="search" ng-if="isLogged">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
	-->

					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a ng-if="!isLogged" href="#/login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
						<li class="active"><a href ng-if="isLogged" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid" ng-view></div>


		<!-- angular.js-->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>

<!--
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"</script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/angular-touch/angular-touch.min.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
-->
	

		<script src="public/app.js"></script>
		<script src="public/components/services.js"></script>
		<script src="public/components/stock.service.js"></script>
		<script src="public/components/directive.js"></script>
		<script src="public/components/function.js"></script>
		<script src="public/stock/stock.controller.js"></script>
		<script src="public/carichi_in/carichi_in.controller.js"></script>
		<script src="public/login/login.controller.js"></script>
		<script src="public/cut/cut.controller.js"></script>
		<script src="public/production/production.controller.js"></script>
		<script src="public/production/production_state/production_state.controller.js"></script>
		<script src="public/production/carichi_out/carichi_out.controller.js"></script>

	</body>

</html>