<form name="$parent.releaseForm" class="form-horizontal" novalidate>
    
    <div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Trasportatore: </label>
		<div class="col-md-10">
	   		<select ng-model="$parent.release.trasportatore" ng-options="trasportatore for trasportatore in features.trasportatori" class="form-control" required>
				<option value="">-- seleziona --</option>
			</select>
		</div>
    </div>
	
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Data Spedizione: </label>
		<div class="col-md-10">
	   		<input type="date" ng-model="$parent.release.dataSpedizione" class="form-control"/>
		</div>
    </div>
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Tipo Mezzo: </label>
		<div class="col-md-10">
	   		<input type="text" ng-model="$parent.release.tipoMezzo" class="form-control"/>
		</div>
    </div>
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Materiale: </label>
		<div class="col-md-10">
	   		<input type="text" ng-model="$parent.release.materiale" class="form-control"/>
		</div>
    </div>
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Autista: </label>
		<div class="col-md-10">
	   		<input type="text" ng-model="$parent.release.autista" class="form-control"/>
		</div>
    </div>
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Targa: </label>
		<div class="col-md-10">
	   		<input type="text" ng-model="$parent.release.targa" class="form-control"/>
		</div>
    </div>
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Peso Totale: </label>
		<div class="col-md-10">
	   		<input type="number" ng-model="$parent.release.pesoTotale" class="form-control"/>
		</div>
    </div>
	<div class="form-group">
	   	<label for="ddt" class="col-md-2 control-label">Unita: </label>
		<div class="col-md-10">
	   		<input type="text" ng-model="$parent.release.unita" class="form-control"/>
		</div>
    </div>
</form>