<h2>
	CRONOLOGIA CARICHI IN USCITA
</h2>

<table>
	<tr>
		<td>
			<uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="entryLimit" max-size="maxSize" class="pagination" boundary-links="true" force-ellipses="true"></uib-pagination>
		</td>
		<td>
			<button ng-if="userRole == 'logistica' || userRole == 'admin'" type="button" class="btn btn-primary" data-toggle="modal" href="#newload" ng-click="createRelease()">Aggiungi Carico</button>
		</td>
	</tr>
</table>

	


<table class="table table-bloaded table-hover">
	<thead>
<!--
		<tr>
			<th><input ng-model="ddt"></th>
			<th>
				<select ng-model="fornitore" ng-options="fornitori for fornitori in features.fornitori">
				<option value="">-- seleziona --</option>
				</select>
			</th>
			<th><input type="date" ng-model="dataDdt"></th>
		</tr>
-->
	    <tr>
			<th>Numero</th>
			<th>Trasportatore</th>
  			<th>Data spedizione</th>
			<th>Tipo Mezzo</th>
			<th>Materiale</th>
			<th>Autista</th>
			<th>Targa</th>
			<th>Peso Totale</th>
			<th>Unita</th>
			<th>Note</th>
			<th>Stato</th>
		</tr>
	</thead>
  	<tbody>
    	<tr ng-repeat="release in releases | orderBy:'dataSpedizione':true | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
			<td><button type="button" class="btn btn-info btn-block" ng-click="releaseDetails(release)" data-target="#releasedetails" data-toggle="modal">{{release.numero}}</button></td>
  			<td>{{release.trasportatore}}</td>
			<td>{{release.dataSpedizione | date:'medium'}}</td>
			<td>{{release.tipoMezzo}}</td>
			<td>{{release.materiale}}</td>
			<td>{{release.autista}}</td>
			<td>{{release.targa}}</td>
			<td>{{release.pesoTotale}}</td>
			<td>{{release.unita}}</td>
			<td>{{release.note}}</td>
			<td>{{release.stato}}</td>

			<td ng-if="userRole == 'logistica' || userRole == 'admin'">
<!--				<button type="button" class="btn btn-warning btn-circle" ng-click="openLoad(load)" data-target="#newload" data-toggle="modal">Modifica <span class="glyphicon glyphicon-cog"></button>-->
				<button type="button" class="btn btn-danger btn-circle" ng-click="prepareDeleteRelease(release, releases.indexOf(release))" data-target="#deleterelease" data-toggle="modal">Cancella <span class="glyphicon glyphicon-trash"></span></button>	
			</td>
		</tr>
	</tbody>
</table>

<!-- Modal new_release-->
<div id="newload" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 ng-if="load._id == undefined" class="modal-title">CREA ORDINE</h4>
				<h4 ng-if="load._id != undefined" class="modal-title">MODIFICA ORDINE</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/release/new_release.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button ng-if="releaseForm.$valid && !load._id" type="button" class="btn btn-success" data-toggle="modal" data-target="#selectarticles" ng-click="selectArticles()"data-dismiss="modal">Conferma</button>
<!--				<button ng-if="loadForm.$valid && load._id != undefined" type="button" class="btn btn-warning" ng-click="" data-dismiss="modal">Modifica</button>-->
			</div>
		</div>
	</div>
</div>


<!-- Modal select_articles-->
<div id="selectarticles" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Seleziona gli articoli del carico</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/release/release_articles.html'"></div>
				<hr>
				<div ng-include src="'public/release/select_articles.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectstocks" data-dismiss="modal" ng-click="selectStocks()">avanti</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal select_stocks-->
<div id="selectstocks" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Seleziona gli stock del carico</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/release/release_stocks.html'"></div>
				<hr>
				<div ng-include src="'public/release/select_stocks.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#selectarticles" data-dismiss="modal">indietro</button>
				<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="confirmRelease()">Conferma</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal release_details-->
<div id="releasedetails" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Dettagli carico in uscita AAAAA</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/release/release_details.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">annulla</button>
				<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="">Conferma</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal prepareDeleteState-->
<div id="deleterelease" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 ng-if="release" class="modal-title" align="center">Elimina Carico in uscita</h3>
			</div>
			<div class="modal-body">
				<div ng-if="release">Tutti gli articoli e i prodotti potranno essere assegnati ad un nuovo carico in uscita</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button ng-if="release" type="button" class="btn btn-success" ng-click="deleteRelease(release, releases.indexOf(release))" data-dismiss="modal">Conferma</button>
			</div>
		</div>
	</div>
</div>