<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Data Consegna</th>
			<th>Cod. Articolo</th>
			<th>Num. Ordine</th>
			<th>Cod. Cliente</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Lungh</th>
			<th>Peso</th>
			<th>Qta</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo</th>
			<th>Stato produzione</th>
			<th>Stato evasione</th>
			<th></th>
			<th>Kg Selezionati</th>
			<th>Unita</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="article in releaseArticles | orderBy:['materiale','tipo','spessore','larghezza']">
			<td>{{article.dataConsegna| date:'medium'}}</td>
			<td>{{article.codArticolo}}</td>
			<td>{{article.ordineCod}}</td>
<!--
			<td>
				<button ng-if="article.clienteCod" type="button" class="btn btn-info btn-block" ng-click="viewArticleCustomer(article)" data-target="#viewarticlecustomer" data-toggle="modal">{{article.clienteCod}}</button>
			</td>
-->
			<td>{{article.clienteCod}}</td>
			<td>{{article.materiale}}</td>
			<td>{{article.tipo}}</td>
			<td>{{article.spessore}}</td>
			<td>{{article.larghezza}}</td>
			<td>{{article.lunghezza}}</td>
			<td>{{article.pesoAttuale}}</td>
			<td>{{article.quantita}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{article.prezzo}}</td>
			<td>
				<div ng-if="article.statoProduzione == undefined" align="center">{{article.statoProduzione}}</div>
				<div ng-if="article.statoProduzione == 'libero'" align="center"><span class="label label-default">{{article.statoProduzione}}</span></div>
				<div ng-if="article.statoProduzione == 'assegnato'" align="center"><span class="label label-info">{{article.statoProduzione}}</span></div>
				<div ng-if="article.statoProduzione == 'lavorazione'" align="center"><span class="label label-warning">{{article.statoProduzione}}</span></div>
				<div ng-if="article.statoProduzione == 'completato'" align="center"><span class="label label-success">{{article.statoProduzione}}</span></div>
			</td>
			<td>
				<div ng-if="article.statoEvasione == undefined" align="center">{{article.statoEvasione}}</div>
				<div ng-if="article.statoEvasione == 'libero'" align="center"><span class="label label-default">{{article.statoEvasione}}</span></div>
				<div ng-if="article.statoEvasione == 'assegnato'" align="center"><span class="label label-info">{{article.statoEvasione}}</span></div>
				<div ng-if="article.statoEvasione == 'lavorazione'" align="center"><span class="label label-warning">{{article.statoEvasione}}</span></div>
				<div ng-if="article.statoEvasione == 'completato'" align="center"><span class="label label-success">{{article.statoEvasione}}</span></div>
			</td>
			<td></td>
			<td>{{article.pesoSelected}}</td>
			<td>{{article.unita}}</td>
			<td>
				<button type="button" class="btn btn-danger btn-circle" ng-click="deleteArticle(article, releaseArticles.indexOf(article))"><span class="glyphicon glyphicon-trash"></span></button>
			</td>
		</tr>
	</tbody>
</table>
