<table class="table table-bordered table-hover">
	<thead>
		<tr>
			
			<th>
				<input type="date" ng-model="dataConsegna">
			</th>
			
			<th>
				<input ng-model="region">
			</th>
			
			<th>
				<input ng-model="provincia">
			</th>
			
			<th>
				<input ng-model="clienteCod">
			</th>
			
			<th>
				<input ng-model="ordineCod">
			</th>
			
			<th></th>
			
			<th>
				<select ng-model="materiale" ng-options="materiale for materiale in features.materiali">
					<option value="">-- seleziona --</option>
				</select>
			</th>

			<th>
				<select ng-model="tipo" ng-options="tipo for tipo in features.tipi">
					<option value="">-- seleziona --</option>
				</select>
			</th>


			<th>
				<select ng-model="spessore" ng-options="spess for spess in features.spessori" convert-to-float>
					<option value="">-- seleziona --</option>
				</select>
			</th>
		</tr>
		<tr>
			<th>Data Consegna</th>
			<th>Regione</th>
			<th>Provincia</th>
			<th>Cod. Cliente</th>
			<th>Num. Ordine</th>
			<th>Cod. Articolo</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Lungh</th>
			<th>Peso</th>
			<th>Quant</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
			<th>Stato</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="article in articles | filterriep:dataConsegna:region:provincia:clienteCod:ordineCod:materiale:tipo:spessore | orderBy:'dataConsegna'">
			<td>{{article.dataConsegna | date:'medium'}}</td>
			<td>{{article.region}}</td>
			<td>{{article.provincia}}</td>
			<td>{{article.clienteCod}}</td>
			<td>{{article.ordineCod}}</td>
			<td>{{article.codArticolo}}</td>
			<td>{{article.materiale}}</td>
			<td>{{article.tipo}}</td>
			<td>{{article.spessore}}</td>
			<td>{{article.larghezza}}</td>
			<td>{{article.lunghezza}}</td>
			<td>{{article.peso}}</td>
			<td>{{article.quantita}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{article.prezzo}}</td>
			<td ng-if="article.stato == undefined">{{article.stato}}</td>
			<td ng-if="article.stato == 'libero'"><span class="label label-default">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'definito'"><span class="label label-info">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'lavorazione'"><span class="label label-warning">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'completato'"><span class="label label-success">{{article.stato}}</span></td>
			<td>
				<button type="button" class="btn btn-primary btn-circle" ng-click="addArticle(article, articles.indexOf(article))"><span class="glyphicon glyphicon-plus"></span></button>
			</td>
		</tr>
	</tbody>
</table>