<div><b>REGIONE:&nbsp&nbsp&nbsp</b>
	<span ng-repeat="ra in regionArray">
		<input type="checkbox" ng-click="includeRegion(ra)">{{ra|uppercase}}&nbsp&nbsp&nbsp
	</span>
</div>
<div><b>PROVINCIA:&nbsp&nbsp&nbsp</b>
	<span ng-repeat="pa in provinciaArray">
		<input type="checkbox" ng-click="includeProvincia(pa)">{{pa|uppercase}}&nbsp&nbsp&nbsp
	</span>
</div>

<fieldset ng-repeat-start="r2a in monster | filter:regionFilter">
	<h3 align="center"><b>Regione: {{r2a.key|uppercase}}</b> {{r2a.weight}} kg</h3>
	<div ng-repeat-start="p2a in r2a.value | filter:provinciaFilter">
		<legend><b>Provincia: {{p2a.key|uppercase}}</b> {{p2a.weight}} kg</legend>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Data Consegna</th>
					<th>Cod. Cliente</th>
					<th>Num. Ordine</th>
					<th>Cod. Articolo</th>
					<th>Materiale</th>
					<th>Tipo</th>
					<th>Spess</th>
					<th>Largh</th>
					<th>Lungh</th>
					<th>Peso</th>
					<th>Quant</th>
					<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
					<th>Stato Produzione</th>
					<th>Stato Evasione</th>
					<th>Kg da evadere</th>
					<th>Unita selezionata</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="article in p2a.value">
					<td>{{article.dataConsegna | date:'medium'}}</td>
					<td>{{article.clienteCod}}</td>
					<td>{{article.ordineCod}}</td>
					<td>{{article.codArticolo}}</td>
					<td>{{article.materiale}}</td>
					<td>{{article.tipo}}</td>
					<td>{{article.spessore}}</td>
					<td>{{article.larghezza}}</td>
					<td>{{article.lunghezza}}</td>
					<td>{{article.pesoAttuale}}</td>
					<td>{{article.quantita}}</td>
					<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{article.prezzo}}</td>
					<td ng-if="article.statoProduzione == undefined">{{article.statoProduzione}}</td>
					<td ng-if="article.statoProduzione == 'libero'"><span class="label label-default">{{article.statoProduzione}}</span></td>
					<td ng-if="article.statoProduzione == 'assegnato'"><span class="label label-info">{{article.statoProduzione}}</span></td>
					<td ng-if="article.statoProduzione == 'lavorazione'"><span class="label label-warning">{{article.statoProduzione}}</span></td>
					<td ng-if="article.statoProduzione == 'completato'"><span class="label label-success">{{article.statoProduzione}}</span></td>
					<td ng-if="article.statoEvasione == undefined">{{article.statoEvasione}}</td>
					<td ng-if="article.statoEvasione == 'libero'"><span class="label label-default">{{article.statoEvasione}}</span></td>
					<td ng-if="article.statoEvasione == 'assegnato'"><span class="label label-info">{{article.statoEvasione}}</span></td>
					<td ng-if="article.statoEvasione == 'lavorazione'"><span class="label label-warning">{{article.statoEvasione}}</span></td>
					<td ng-if="article.statoEvasione == 'completato'"><span class="label label-success">{{article.statoEvasione}}</span></td>
					<td>
						<input type="number" ng-model="article.pesoSelected" class="form-control" required>
					</td>
					<td>
						<select ng-model="article.unita" ng-options="unita for unita in features.unita" class="form-control" required>
					</td>
					<td>
						<button ng-if="article.pesoSelected && article.unita" type="button" class="btn btn-primary btn-circle" ng-click="addArticle(article, monster.indexOf(r2a),r2a.value.indexOf(p2a), p2a.value.indexOf(article))"><span class="glyphicon glyphicon-plus"></span></button>
						<button ng-if="!article.pesoSelected || !article.unita" type="button" class="btn btn-primary btn-circle" disabled><span class="glyphicon glyphicon-plus"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-repeat-end ng-hide="true"></div>
</fieldset>
<fieldset ng-repeat-end ng-hide="true"></fieldset>