<form name="inProdFormCtrl.inProdForm" class="form" novalidate>
    <div class="row">
         <div class="col-md-3">
            <select-materiale-form label-name="Materiale" model="inProdFormCtrl.model" attribute-m="materiale" required=true>
            </select-materiale-form>
        </div>
        <div class="col-md-3">
            <select-tipo-form label-name="Tipo" model="inProdFormCtrl.model" attribute-m="tipo" required=false>
            </select-tipo-form>
        </div>
        <div class="col-md-3">
            <select-spessore-form label-name="Spessore Nominale" model="inProdFormCtrl.model" attribute-m="spessoreNominale" required=false>
            </select-spessore-form>
        </div>
        <div class="col-md-3">
            <input-num-form label-name="Spessore Effettivo" model="inProdFormCtrl.model" attribute-m="spessoreEffettivo" required=false>
            </input-num-form>
        </div>
     </div>
     
    <div class="row">
        <div class="col-md-3">
            <select-larghezza-form label-name="Larghezza Nominale" model="inProdFormCtrl.model" attribute-m="larghezzaNominale" required=false>
            </select-larghezza-form>
        </div>
        <div class="col-md-3">
            <input-num-form label-name="Larghezza Effettiva" model="inProdFormCtrl.model" attribute-m="larghezzaEffettiva" required=false></input-num-form>
        </div>
        <div class="col-md-3">
            <select-lunghezza-form label-name="Lunghezza" model="inProdFormCtrl.model" attribute-m="lunghezza" required=false>
            </select-lunghezza-form>
        </div>
        <div class="col-md-3">
            <select-superficie-form label-name="Superficie" model="inProdFormCtrl.model" attribute-m="superficie">
            </select-superficie-form>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <select-finitura-form label-name="Finitura" model="inProdFormCtrl.model" attribute-m="finitura">
            </select-finitura-form>
        </div>
        
        <div class="col-md-3">
            <select-colore-form label-name="Colore" model="inProdFormCtrl.model" attribute-m="colore">
            </select-colore-form>   
        </div>

        <div class="col-md-3">
            <select-scelta-form label-name="Scelta" model="inProdFormCtrl.model" attribute-m="scelta" required=false>
            </select-scelta-form>
        </div>
        <div class="col-md-3">
            <input-num-form label-name="Peso" model="inProdFormCtrl.model" attribute-m="pesoIniziale" required=false></input-num-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input-prezzo-form label-name="Prezzo" model="inProdFormCtrl.model" attribute-m="prezzo"></input-prezzo-form>
        </div>
        <div class="col-md-3">
            <label></label>
            <button type="button" class="btn btn-block btn-danger" ng-click="cancel()" >Annulla</button>
        </div>
        <div class="col-md-3" ng-transclude="actionButton"></div>
    </div>
</form>