<div>
    <expected-table expected-list="modalDirCtrl.modalContent.expecteds" entry-limit="modalDirCtrl.modalContent.expecteds.length" current-page="modalDirCtrl.currentPage">
        <table-button>
            <button type="button" class="btn btn-block btn-success btn-circle" data-dismiss="modal" ng-click="$parent.selectAction($parent.expected); $parent.unlockProductForm()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </table-button>
    </expected-table>
</div>