<form name="inOrderFormCtrl.inOrderForm" class="form" novalidate>
    <div class="row">
         <div class="col-md-3">
            <select-fornitore-form label-name="Fornitore" model="inOrderFormCtrl.model" attribute-m="fornitore" required=true>
            </select-fornitore-form>
        </div>
        <div class="col-md-3">
            <input-text-form label-name="DDT" model="inOrderFormCtrl.model" attribute-m="ddt" required=true>
            </input-text-form>
        </div>
        <div class="col-md-3">
            <input-date-form label-name="Data DDT" model="inOrderFormCtrl.model" attribute-m="dataDdt" required=true>
            </input-number-form>
        </div>
    </div>
</form>