<table class="table table-condensed table-bordered table-hover">
    <caption>{{inProdTableCtrl.caption}}</caption>
    <thead>
        <tr>
            <th>Numero Collo</th>
            <th>Matricola</th>
            <th>Materiale</th>
            <th>Tipo</th>
            <th>Spessore </th>
            <th>Larghezza</th>
            <th>Qualita</th>
            <th>Scelta</th>
            <th>Finitura</th>
            <th>Colore</th>
            <th>Superficie</th>
            <th>Lunghezza</th>
            <th>Quantita</th>
            <th>Peso</th>
            <th>Prezzo (&euro;/t)</th>
            <th>Difetti</th>
            <th>Stab</th>
            <th>Scarto</th>
            <th>Stato</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="inboundProduct in inProdTableCtrl.inboundList">
            <td>{{inboundProduct.numeroCollo}}</td>
            <td>{{inboundProduct.matricola}}</td>
            <td>{{inboundProduct.materiale}}</td>
            <td>{{inboundProduct.tipo}}</td>
            <td>
                <div>nominale:{{inboundProduct.spessoreNominale}}</div>
                <div>effettivo:{{inboundProduct.spessoreEffettivo}}</div>
            </td>
            <td>
                <div>nominale:{{inboundProduct.larghezzaNominale}}</div>
                <div>effettiva:{{inboundProduct.larghezzaEffettiva}}</div>
            </td>
            <td>{{inboundProduct.qualita}}</td>
            <td>{{inboundProduct.scelta}}</td>
            <td>{{inboundProduct.finitura}}</td>
            <td>
                <div>{{inboundProduct.colore}}</div>
                <div>{{inboundProduct.ral}}</div>
            </td>
            <td>{{inboundProduct.superficie}}</td>
            <td>{{inboundProduct.lunghezza}}</td>
            <td>{{inboundProduct.quantita}}</td>

            <td>
                <div>iniziale:{{inboundProduct.pesoIniziale}}</div>
                <div>lordo:{{inboundProduct.pesoLordo}}</div>
                <div>netto:{{inboundProduct.pesoNetto}}</div>
            </td>
            <td>{{inboundProduct.prezzo}}</td>
            <td>{{inboundProduct.difetti}}</td>
            <td>{{inboundProduct.stabilimento}}</td>
            <td>{{inboundProduct.scarto}}</td>
            <td>{{inboundProduct.stato}}</td>
            <td ng-transclude="buttons"></td>
        </tr>
    </tbody>
</table>
