<h1>CARICHI IN ENTRATA</h1>
<br><br>
<div>
    <a ng-href="#/inbound/create">
        <button ng-if="user.role == 'logistica' || user.role == 'admin'" type="button" class="btn btn-primary btn-lg">Aggiungi Ordine</button>
    </a>
</div>
<br><br>
<inbound-table inbound-list="inCtrl.inbounds" entry-limit="inCtrl.entryLimit" current-page="inCtrl.currentPage">    
    <table-pagination>
        <pagination total-items="inCtrl.inbounds.length" current-page="inCtrl.currentPage" entry-limit="inCtrl.entryLimit">
        </pagination>
    </table-pagination>
</inbound-table>

<!-- Modal order_products.html-->
<!--
<div id="orderproducts" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/carichi_in/order_products.html'"></div>
			</div>
			<div class="modal-footer">
				<div align="left" ng-if="userRole == 'logistica' || userRole == 'admin'">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectexpected" ng-click="viewExpecteds()">Aggiungi prodotto ordinato</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newproduct" ng-click="createProduct()">Aggiungi nuovo prodotto</button>
				</div>
				<div>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
					<button ng-if="order._id == undefined" type="button" class="btn btn-success" ng-click="confirmOrder()" data-dismiss="modal">Conferma</button>
					<button ng-if="order._id != undefined" type="button" class="btn btn-success" ng-click="updateOrder(order)" data-dismiss="modal">Conferma</button>
				</div>
			</div>
		</div>
	</div>
</div>
-->


<!--
<div id="updateproduct" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">MODIFICA PRODOTTO</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/carichi_in/new_product.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button ng-if="productForm.$valid" type="button" class="btn btn-success" ng-click="updateProduct()" data-dismiss="modal">Conferma</button>
			</div>
		</div>
	</div>
</div>
-->

<!--
<div id="selectexpected" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">SELEZIONA PRODOTTO PREVISTO</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/carichi_in/select_expected.html'"></div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
-->


<!--
<div id="newproduct" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">INSERIRE PRODOTTO</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/carichi_in/new_product.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button ng-if="productForm.$valid" type="button" class="btn btn-success" ng-click="addProduct()" data-dismiss="modal">Conferma</button>
			</div>
		</div>
	</div>
</div>
-->

<!-- Modal new_order.html-->
<!--
<div id="neworder" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 ng-if="order._id == undefined" class="modal-title">CREA ORDINE</h4>
				<h4 ng-if="order._id != undefined" class="modal-title">MODIFICA ORDINE</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/carichi_in/new_order.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button ng-if="orderForm.$valid && order._id == undefined" type="button" class="btn btn-success" data-toggle="modal" data-target="#orderproducts" data-dismiss="modal">Conferma</button>
				<button ng-if="orderForm.$valid && order._id != undefined" type="button" class="btn btn-warning" ng-click="updateOrder(order)" data-dismiss="modal">Modifica</button>
			</div>
		</div>
	</div>
</div>
-->

<!-- Modal deleteOrder/Product-->
<!--
<div id="delete" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 ng-if="product" class="modal-title" align="center">Elimina Prodotto</h3>
				<h3 ng-if="order" class="modal-title" align="center">Elimina Ordine</h3>
			</div>
			<div class="modal-body">
				<div ng-if="product">Verrà eliminato o non creato anche il rispettivo prodotto all'interno dello stock</div>
				<div ng-if="order">Verranno eliminati anche tutti i prodotti ed i corrispondenti all'interno dello stock</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button ng-if="product" type="button" class="btn btn-success" ng-click="deleteProduct(product, productsOrder.indexOf(product))" data-dismiss="modal">Conferma</button>
				<button ng-if="order" type="button" class="btn btn-success" ng-click="deleteOrder(order, orders.indexOf(order))" data-dismiss="modal">Conferma</button>
			</div>
		</div>
	</div>
</div>
-->
