<h1>CARICHI IN ENTRATA</h1>
<br><br>
<div>
    <a ng-href="#/inbound/create">
        <button ng-if="user.role == 'logistica' || user.role == 'admin'" type="button" class="btn btn-primary btn-lg">Aggiungi Ordine</button>
    </a>
</div>
<br><br>
<inbound-table inbound-list="inCtrl.inbounds" entry-limit="inCtrl.entryLimit" current-page="inCtrl.currentPage">    
    <!--<table-pagination>
        <pagination total-items="inCtrl.inbounds.length" current-page="inCtrl.currentPage" entry-limit="inCtrl.entryLimit">
        </pagination>
    </table-pagination>-->
</inbound-table>