<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>
				<input style="width:50px;" type="date" ng-model="dataPrevista">
			</th>
			<th>
				<input ng-model="fornitore">
			</th>
			<th>
				<select ng-model="materiale" ng-options="materiale for materiale in featureList.materiali">
					<option value="">-- seleziona --</option>
				</select>
			</th>

			<th>
				<select ng-model="tipo" ng-options="tipo for tipo in featureList.tipi">
					<option value="">-- seleziona --</option>
				</select>
			</th>


			<th>
				<select ng-model="spessore" ng-options="spess for spess in featureList.spessori" convert-to-float>
					<option value="">-- seleziona --</option>
				</select>
			</th>
		</tr>
		<tr>
			<th ng-if="!creationProgress">Data Prevista</th>
			<th ng-if="!creationProgress">Fornitore</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Qualita</th>
			<th>Finitura</th>
			<th>Colore Ral</th>
			<th>Superficie</th>
			<th>Lungh</th>
			<th>N.Fogli</th>
			<th>Peso</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="expected in expectedList | filterexp:dataPrevista:fornitore:materiale:tipo:spessore | orderBy:'dataPrevista'|startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
			<td ng-if="!creationProgress">{{expected.dataPrevista| date:'medium'}}</td>
			<td ng-if="!creationProgress">{{expected.fornitore}}</td>
			<td>{{expected.materiale}}</td>
			<td>{{expected.tipo}}</td>
			<td>{{expected.spessore}}</td>
			<td>{{expected.larghezza}}</td>
			<td>{{expected.qualita}}</td>
			<td>{{expected.finitura}}</td>
			<td>{{expected.coloreRal}}</td>
			<td>{{expected.superficie}}</td>
			<td>{{expected.lunghezza}}</td>
			<td>{{expected.numFogli}}</td>
			<td>{{expected.pesoNetto}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{expected.prezzo}}</td>
			<td ng-if="selectExpectedButton">
				<button type="button" class="btn btn-success btn-circle" data-toggle="modal" data-target="#newproduct" data-dismiss="modal" ng-click="selectExpectedAction({expected:expected})">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
