<td>{{productBodyCtrl.product.numeroCollo}}</td>
<td>{{productBodyCtrl.product.matricola}}</td>
<td>{{productBodyCtrl.product.materiale}}</td>
<td>{{productBodyCtrl.product.tipo}}</td>
<td>{{productBodyCtrl.product.spessore}}</td>
<td>{{productBodyCtrl.product.classeLarghezza}}</td>
<td>{{productBodyCtrl.product.larghezza}}</td>
<td>{{productBodyCtrl.product.qualita}}</td>
<td>{{productBodyCtrl.product.scelta}}</td>
<td>{{productBodyCtrl.product.finitura}}</td>
<td>{{productBodyCtrl.product.coloreRal}}</td>
<td>{{productBodyCtrl.product.superficie}}</td>
<td>{{productBodyCtrl.product.lunghezza}}</td>
<td>{{productBodyCtrl.product.numFogli}}</td>
<td>{{productBodyCtrl.product.pesoIniziale}}</td>
<td>{{productBodyCtrl.product.pesoNetto}}</td>
<td>{{productBodyCtrl.product.pesoLordo}}</td>
<td ng-if="userRole == 'admin'">{{productBodyCtrl.product.prezzo}}</td>
<td>{{productBodyCtrl.product.difetti}}</td>
<td>{{productBodyCtrl.product.stabilimento}}</td>
<td>{{productBodyCtrl.product.scarto}}</td>
<td>{{productBodyCtrl.product.stato}}</td>