<h1>STOCK VIRTUALE</h1>

<fieldset ng-repeat-start="quadruple in virtualStockCtrl.virtualStockMap">
    <h3>{{quadruple.materiale|uppercase}}, {{quadruple.tipo|uppercase}}, {{quadruple.qualita|uppercase}}, {{quadruple.spessore|uppercase}}</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Larghezza</th>
            <th>Lunghezza</th>
            <th>Magazzino</th>
            <th>Clienti</th>
            <th>In Arrivo</th>
            <th>Disponibilita</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lungLarg in quadruple.lungLargArray">
            <td>{{lungLarg.largh}}</td>
            <td>{{lungLarg.lunghezza}}</td>
            <td>{{lungLarg.pesoMagazzino}} kg</td>
            <td><button type="button" class="btn btn-info btn-block">{{lungLarg.pesoClienti}} kg</button></td>
            <td><button type="button" class="btn btn-info btn-block">{{lungLarg.pesoArrivo}} kg</button></td>
            <td>{{lungLarg.disponibilita}} kg</td>
        </tr>
        </tbody>
    </table>
</fieldset>
<fieldset ng-repeat-end ng-hide="true"></fieldset>