<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Agente</th>
            <th>Banca Abi</th>
            <th>Banca Cab</th>
            <th>Cod. Fiscale</th>
            <th>Email</th>
            <th>Fax</th>
            <th>Ident</th>
            <th>Indirizzo</th>
            <th>Località</th>
            <th>Pagamento</th>
            <th>Partita Iva</th>
            <th>Provincia</th>
            <th>Regione</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{customerTableCtrl.customer.nome}}</td>
            <td>{{customerTableCtrl.customer.agente}}</td>
            <td>{{customerTableCtrl.customer.bancaAbi}}</td>
            <td>{{customerTableCtrl.customer.bancaCab}}</td>
            <td>{{customerTableCtrl.customer.codFiscale}}</td>
            <td>{{customerTableCtrl.customer.email}}</td>
            <td>{{customerTableCtrl.customer.fax}}</td>
            <td>{{customerTableCtrl.customer.ident}}</td>
            <td>{{customerTableCtrl.customer.indirizzo}}</td>
            <td>{{customerTableCtrl.customer.localita}}</td>
            <td>{{customerTableCtrl.customer.pagamento}}</td>
            <td>{{customerTableCtrl.customer.partitaIva}}</td>
            <td>{{customerTableCtrl.customer.provincia}}</td>
            <td>{{customerTableCtrl.customer.regione}}</td>
            <td>{{customerTableCtrl.customer.telefono}}</td>
        </tr>
    </tbody>
</table>