<h1>ORDINI CLIENTE</h1>
<br><br>
<button type="button" class="btn btn-primary btn-lg" ng-click="cutCtrl.refreshCuts()">REFRESH</button>
<br><br>
<cut-table cut-list="cutCtrl.cuts"></cut-table>

<div ng-class="cutCtrl.refreshLoadingModalContent.modalClass" id="{{cutCtrl.refreshLoadingModalContent.modalId}}" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{cutCtrl.refreshLoadingModalContent.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
            </div>
        </div>
    </div>
</div>