<table-pagination>
    <pagination total-items="cutsTableCtrl.cuts.length" current-page="cutsTableCtrl.currentPage" entry-limit="cutsTableCtrl.entryLimit"></pagination>
</table-pagination>
<div class="row">
    <div class="col-md-2">
        <input-text-filter label-name="Num. Ordine" model="search" attribute-m="codice"></select-fornitore-filter>
    </div>
    <div class="col-md-2">
        <input-text-filter label-name="Codice Cliente" model="search" attribute-m="clienteCod"></select-fornitore-filter>
    </div>
    <div class="col-md-2">
        <input-date-filter label-name="Data Prevista" model="search" attribute-m="date"></input-date-filter>
    </div>
</div>
<br>
<table class="table table-condensed table-bordered table-hover">
	<thead>
        <th>Num Ordine</th>
        <th>Codice Cliente</th>
        <th>Data</th>
        <th>Note</th>
        <th>Stato</th>
	</thead>
	<tbody>
		<tr ng-repeat="cut in cutsTableCtrl.cutList | cutsFilter:search | orderBy:['accepted','-codice'] | startFrom:(cutsTableCtrl.currentPage-1)*cutsTableCtrl.entryLimit | limitTo:cutsTableCtrl.entryLimit">
			<td>
                <modal-directive button-action='cutsTableCtrl.getCut(cut._id)' button-name='{{cut.codice}}' modal-content="cutsTableCtrl.cutModalContent"></modal-directive>
            </td>
			<td>{{cut.clienteCod}}</td>
			<td custom-date model="cut" attribute="date"></td>
			<td>{{cut.note}}</td>
			<td ng-if="cut.accepted == true"><span class="label label-success">Confermato</span></td>
			<td ng-if="cut.accepted == false"><button type="button" class="btn btn-primary btn-block" ng-click="confirmCut(cut)">Conferma</button></td>
		</tr>
	</tbody>
</table>

