.form-control.ng-invalid {
	border-color: #FA787E;
}
.form-control.ng-valid {
	border-color: #78FA89;
}

.modal-xl .modal-dialog {
	width: 95%;
	margin:0 auto;
}

.modal-body {
	max-height: calc(100vh - 300px);
	overflow-y: auto;
	overflow-x: auto;
}

.borderless td, .borderless th {
    border: none;
}