<h4>Inserire Prodotto</h4> 
<style>
	.ng-dirty.ng-invalid {border-color: #FA787E;}
	.ng-dirty.ng-valid {border-color: #78FA89;}
</style>
<form name="productForm" class="form-horizontal" novalidate>
	<div>
		<label for="matricola" class="control-label">Matricola:</label> 
		<input type="number" ng-model="product.matricola" class="ng-dirty" required/>
	</div>
	<div>
		<label for="materiale" class="control-label">Materiale:</label> 
		<input type="text" ng-model="product.materiale" class="ng-dirty" required/>
	</div>
	<div>
		<label for="cop" class="control-label">Cop:</label>  
		<select ng-model="product.cop" class="ng-dirty" required>
			<option value="coil">Coil</option>
			<option value="pacco">Pacco</option>
			<option value="nastro">Nastro</option>
		</select>
	</div>
	<div>
		<label for="quantita" class="control-label">Quantita:</label> 
		<input type="number" ng-model="product.quantita" class="ng-dirty" required/>
	</div>
	<div>
		<label for="dimensioni" class="control-label">Dimensioni:</label> 
		<input type="text" ng-model="product.dimensioni" class="ng-dirty" required/>
	</div>
	<div>
		<label for="pesokg" class="control-label">Peso (kg):</label> 
		<input type="number" ng-model="product.pesokg" class="ng-dirty" required/>
	</div>
	<div>
		<label for="pesoton" class="control-label">Peso (t):</label> 
		{{product.pesokg/1000}}t
	</div>
	<div>
		<label for="qualita" class="control-label">Qualita:</label>
		<input type="text" ng-model="product.qualita" class="ng-dirty" required/>
	</div>
	<div>
		<label for="colore" class="control-label">Colore:</label>
		<input type="text" ng-model="product.colore" class="ng-dirty" required/>
	</div>
	<div>
		<label for="ral" class="control-label">Ral:</label> 
		<input type="text" ng-model="product.ral" class="ng-dirty" required/>
	</div>
	<div>
		<label for="finitura" class="control-label">Finitura:</label> 
		<input type="text" ng-model="product.finitura" class="ng-dirty" required/>
	</div>
	<div>
		<label for"note" class="control-label">Note:              
		<textarea name="textArea" ng-model="product.note" class="ng-dirty"></textarea>
	</div>
	<div>
		<button ng-if="productForm.$valid" type="submit" ui-sref="magazzino" ng-click="createProduct()" class="btn btn-primary">Inserisci</button>
	</div>
</form>
<pre>Prodotto= {{product | json}}</pre>
  		