<h1>Inserire Ordine</h1> 
<style>
.ng-dirty.ng-invalid {border-color: #FA787E;}
.ng-dirty.ng-valid {border-color: #78FA89;}
</style>

<form name="orderForm" class="form-horizontal" novalidate>
    <div>
    	<label for="numOrdine" class="control-label">Numero Ordine: </label>
    	<input type="number" ng-model="order.numOrdine" class="ng-dirty" required/>
    </div>

    <div>
	   <label for="ddt" class="control-label">DDT: </label> 
	   <input type="number" ng-model="order.ddt" class="ng-dirty" required/>
    </div>

    <div>
	   <label for="fornitore" class="control-label">Fornitore: </label> 
	   <input type="text" ng-model="order.fornitore" class="ng-dirty" required/>
    </div>

    <div>
	   <label for="cTrasporto" class="control-label">Costo Trasporto: </label> 
	   <input type="number" ng-model="order.cTrasporto" class="ng-dirty"/>
    </div>

    <div>
	   <label for="cOrdine" class="control-label">Costo Ordine: </label> 
	   <input type="number" ng-model="order.cOrdine" class="ng-dirty"/><br/>
    </div>

    <div>
	   <label for="cTotale" class="control-label">Costo Totale: </label> 
	   {{(order.cTrasporto+order.cOrdine)|currency}}<br/>
    </div>
    <div>
        <button ng-if="orderForm.$valid" type="submit" ui-sref="carichiIn" ng-click="createOrder()" class="btn btn-primary">Inserisci</button>
    </div>
</form>
<pre>Ordine= {{order | json}}</pre>