  <!DOCTYPE html>
  <html ng-app="store">
  	<head>
  		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
  	</head>
  	<body>
  		<div ng-controller="productController">
  		<h4>Inserire Prodotto</h4> 
  			<style>
  				.ng-dirty.ng-invalid {border-color: #FA787E;}
  				.ng-dirty.ng-valid {border-color: #78FA89;}
  			</style>
    			<form name="productForm" class="form-horizontal" ng-submit="productForm.$valid && createProduct()" novalidate>
      			<div>
              <label for="matricola" class="control-label">Matricola:</label> 
              <input type="number" ng-model="product.matricola" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="materiale" class="control-label">Materiale:</label> 
              <input type="text" ng-model="product.materiale" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="cop" class="control-label">Cop:</label>  
              <select ng-model="product.cop" class="ng-dirty" required>
  		          <option value="coil">Coil</option>
  		          <option value="pacco">Pacco</option>
                <!-- <option value="nastro">Nastro</option> -->
  	  			  </select>
            </div>
      			<div>
              <label for="quantita" class="control-label">Quantita:</label> 
              <input type="number" ng-model="product.quantita" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="dimensioni" class="control-label">Dimensioni:</label> 
              <input type="text" ng-model="product.dimensioni" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="pesokg" class="control-label">Peso (kg):</label> 
              <input type="number" ng-model="product.pesokg" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="pesoton" class="control-label">Peso (t):</label> 
              {{product.pesokg/1000}}t
            </div>
            <div>
              <label for="qualita" class="control-label">Qualita:</label>
              <input type="text" ng-model="product.qualita" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="colore" class="control-label">Colore:</label>
              <input type="text" ng-model="product.colore" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="ral" class="control-label">Ral:</label> 
              <input type="text" ng-model="product.ral" class="ng-dirty" required/>
            </div>
      			<div>
              <label for="finitura" class="control-label">Finitura:</label> 
              <input type="text" ng-model="product.finitura" class="ng-dirty" required/>
            </div>
      			<div>
              <label for"note" class="control-label">Note:              
              <textarea name="textArea" ng-model="product.note" class="ng-dirty"></textarea>
            </div>
      			<button type="submit" value="Submit" class="btn btn-default">Inserisci</button>
    			</form>
    			<pre>Prodotto= {{product | json}}</pre>
  		</div>
  		<script src="angular.min.js"></script>
  		<script src="store.js"></script>
  	</body>
  </html>