<h2>MAGAZZINO</h2> 
<table class="table table-bordered table-hover">
	<thead>
	    <tr>
			<th>Matricola</th>
			<th>Tipo</th>
			<th>Materiale</th>
  			<th>Qualita</th>
			<th>Finitura</th>
	      	<th>Colore</th>
	      	<th>Ral</th>
	      	<th>Peso Kg</th>
	      	<th>Peso t</th>
			<th>Lunghezza</th>
			<th>Larghezza</th>
			<th>Spessore</th>
	      	<th>Prezzo</th>
	      	<th>Note</th>
	    </tr>
	</thead>
  	<tbody>
    	<tr ng-repeat="product in products">
      		<td>{{product.matricola}}</td>
      		<td>{{product.cop}}</td>
			<td>{{product.materiale}}</td>
			<td>{{product.qualita}}</td>
			<td>{{product.finitura}}</td>
			<td>{{product.colore}}</td>
      		<td>{{product.ral}}</td>
			<td>{{product.lunghezza}}</td>
			<td>{{product.larghezza}}</td>
			<td>{{product.spessore}}</td>
      		<td>{{product.pesokg}}</td>
			<td>{{(product.pesokg)/100}}</td>
			<td>{{product.prezzo}}</td>
			<td>{{product.note}}</td>
			<td>
				<div class="dropdown">
  					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
  					<ul class="dropdown-menu">
    					<li><button type="button" class="btn btn-warning btn-block" href="#newproduct" data-toggle="modal" ng-click="openProduct(product)">Modifica</button></li>
    					<li><button type="button" class="btn btn-danger btn-block" ng-click="deleteProduct(product._id)" href="#">Cancella</button></li>
  					</ul>
				</div>
			</td>
      	</tr>
    </tbody>
</table>


<!-- Modal new_product.html-->
<div id="newproduct" class="modal fade" role="dialog" data-focus-on="input:first" >
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modifica Prodotto {{product.matricola}}</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'carichi_in/new_product.html'"></div>
			</div>
			<div class="modal-footer">
				<button ng-if="productForm.$valid" type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateProduct(product)" >Conferma</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
			</div>
		</div>
	</div>
</div>