<h1>
    STATI PRODUZIONE
    <a ng-href="#/productionState">
        <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
    </a>
</h1>
<br>
<h2>Stato Produzione n. {{prodStateDetailsCtrl.prodState.prod.numero}}</h2>
<br>
<fieldset>
    <article-table article-list="prodStateDetailsCtrl.prodState.articles" entry-limit="prodStateDetailsCtrl.entryLimit"
                   current-page="prodStateDetailsCtrl.currentPage">
        <button-action>
            <button type="button" class="btn btn-primary btn-block"
                    ng-click="prodStateDetailsCtrl.addWorkingArticle($parent.article)">Lavora <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-danger btn-block">Rimuovi</button>

        </button-action>
    </article-table>
</fieldset>

<br><br><br><br>

<fieldset>
    <legend>Articoli selezionati:</legend>
    <article-table article-list="prodStateDetailsCtrl.workingArticles" entry-limit="prodStateDetailsCtrl.entryLimit" current-page="prodStateDetailsCtrl.currentPage">
        <button-action>
            <button type="button" class="btn btn-primary btn-block" ng-click="prodStateDetailsCtrl.removeWorkingArticle($parent.article)">Lavora <span class="glyphicon glyphicon-minus"></span>
            </button>
        </button-action>
    </article-table>
</fieldset>
<button type="button" class="btn btn-primary btn-lg" ng-disabled="!prodStateDetailsCtrl.workingArticles || prodStateDetailsCtrl.workingArticles.length == 0" ng-click = "prodStateDetailsCtrl.startProcessing(prodStateDetailsCtrl.workingArticles)">Lavora</button>
