<fieldset>
    <legend>Articoli selezionati:</legend>
    <article-table article-list="prodStateEditCtrl.selectedArticles" entry-limit="prodOverCtrl.entryLimit" current-page="prodOverCtrl.currentPage">
        <button-action>
            <button type="button" class="btn btn-primary btn-circle" ng-click="prodStateEditCtrl.removeSelectedArticle($parent.article)"><span class="glyphicon glyphicon-minus"></span></button>
        </button-action>
    </article-table>
    <div ng-transclude="confirmButton"></div>
</fieldset>

<br><br><br><br>

<fieldset>
   <legend>Lista articoli:</legend>
    <article-table article-list="prodStateEditCtrl.freeArticles" entry-limit="prodStateEditCtrl.entryLimit" current-page="prodStateEditCtrl.currentPage">
        <table-pagination>
            <pagination total-items="prodStateEditCtrl.freeArticles.length" current-page="prodStateEditCtrl.currentPage" entry-limit="prodStateEditCtrl.entryLimit"></pagination>
            <br><br>
        </table-pagination>

        <filters>
            <div class="col-md-2">
                <input-date-filter label-name="Data Consegna" model="$parent.search" attribute-m="dataConsegna"></input-date-filter>
            </div>
            <div class="col-md-2">
                <input-text-filter label-name="Regione" model="$parent.search" attribute-m="region"></input-text-filter>
            </div>
            <div class="col-md-2">
                <input-text-filter label-name="Provincia" model="$parent.search" attribute-m="provincia"></input-text-filter>
            </div>
            <div class="col-md-2">
                <input-text-filter label-name="Cliente" model="$parent.search" attribute-m="clienteCod"></input-text-filter>
            </div>
            <div class="col-md-2">
                <input-text-filter label-name="Ordine" model="$parent.search" attribute-m="ordineCod"></input-text-filter>
            </div>
            <br><br><br><br>
        </filters>

        <button-action>
                <button type="button" class="btn btn-primary btn-circle" ng-click="prodStateEditCtrl.addSelectedArticle($parent.article)"><span class="glyphicon glyphicon-plus"></span></button>
        </button-action>
    </article-table>
</fieldset>
<br><br><br>
<!--
articoli da aggiunge: {{prodStateEditCtrl.addedArticles}}
articoli da rimuove: {{prodStateEditCtrl.removedArticles}}
-->
