<pagination total-items="prodStateTableCtrl.prodStates.length" current-page="prodStateTableCtrl.currentPage" entry-limit="prodStateTableCtrl.entryLimit">
</pagination>
<div class="row">
	<div class="col-md-3">
		<input-text-filter label-name="Numero" model="search"
						   attribute-m="numero"></input-text-filter>
	</div>
	<div class="col-md-3">
		<input-date-filter label-name="Data" model="search"
						   attribute-m="dataCreazione"></input-date-filter>
	</div>
</div>
<br><br>
<table class="table table-bordered table-hover">
	<thead>
	    <tr>
			<th>Numero</th>
			<th>Data Creazione</th>
		</tr>
	</thead>
  	<tbody>
    	<tr ng-repeat="prodState in prodStateTableCtrl.prodStates | orderBy:'dataCreazione':true | prodStateTableFilter:search | startFrom:(prodStateTableCtrl.currentPage-1)*prodStateTableCtrl.entryLimit | limitTo:prodStateTableCtrl.entryLimit">
			<td>
<!--                <modal-directive button-action='prodStateTableCtrl.getProdState(prodState._id)' button-name='{{prodState.numero}}' modal-content="prodStateTableCtrl.prodStateModalContent"></modal-directive>-->
                <a ng-href="#/productionState/details/{{prodState._id}}">
				    <button type="button" class="btn btn-info btn-block">{{prodState.numero}}</button>
                </a>
            </td>
  			<td custom-date model="prodState" attribute="dataCreazione"></td>
            <td>
                <a ng-href="#/productionState/update/{{prodState._id}}">
				    <button type="button" class="btn btn-warning btn-block">Modifica<span class="glyphicon glyphicon-cog"></span>
                    </button>
                </a>
            </td>	
		</tr>
	</tbody>
</table>