<!--<article-table article-list="modalDirCtrl.modalContent.prodStateArticles" entry-limit="modalDirCtrl.modalContent.entryLimit" current-page="modalDirCtrl.modalContent.currentPage">-->
<h1>
    STATI PRODUZIONE
    <a ng-href="#/productionState">
        <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
    </a>
</h1>
<br>
<h2>Stato Produzione n. {{prodStateDetailsCtrl.prodState.numero}}</h2>
<br><br>
<article-table article-list="prodStateDetailsCtrl.prodStateArticles" entry-limit="prodStateDetailsCtrl.entryLimit" current-page="prodStateDetailsCtrl.currentPage">

    <button-action>
        <button type="button" class="btn btn-primary btn-block" ng-click="prodStateDetailsCtrl.startProcessing($parent.article)">Lavora</button>
        <button type="button" class="btn btn-danger btn-block">Rimuovi</button>    

    </button-action>
<!--
    <table-pagination>
        <pagination total-items="prodOverCtrl.articles.length" current-page="prodOverCtrl.currentPage" entry-limit="prodOverCtrl.entryLimit"></pagination>
    </table-pagination>
    <br><br>
    <filters>
        <div class="col-md-2">
            <input-date-filter label-name="Data Consegna" model="$parent.search" attribute-m="dataConsegna"></input-date-filter>
        </div>
        <div class="col-md-2">
            <input-text-filter label-name="Regione" model="$parent.search" attribute-m="region"></input-text-filter>
        </div>
        <div class="col-md-2">
            <input-text-filter label-name="Provincia" model="$parent.search" attribute-m="provincia"></input-text-filter>
        </div>
        <div class="col-md-2">
            <input-text-filter label-name="Cliente" model="$parent.search" attribute-m="clienteCod"></input-text-filter>
        </div>
        <div class="col-md-2">
            <input-text-filter label-name="Ordine" model="$parent.search" attribute-m="ordineCod"></input-text-filter>
        </div>
    </filters>
    <br><br><br><br>
-->
</article-table>
