<div class="row">
    <div class="col-md-2">
        <select-fornitore-filter label-name="Fornitore" model="expFilterCtrl.model" attribute-m="fornitore"></select-fornitore-filter>
    </div>
    <div class="col-md-2">
        <input-date-filter label-name="Data Prevista" model="expFilterCtrl.model" attribute-m="dataPrevista"></input-date-filter>
    </div>
    <div class="col-md-2">
        <select-materiale-filter label-name="Materiale" model="expFilterCtrl.model" attribute-m="materiale"></select-materiale-filter>
    </div>
    <div class="col-md-2">
        <select-tipo-filter label-name="Tipo" model="expFilterCtrl.model" attribute-m="tipo"></select-tipo-filter>
    </div>
    <div class="col-md-2">
        <select-spessore-filter label-name="Spessore" model="expFilterCtrl.model" attribute-m="spessore"></select-spessore-filter>
    </div>
</div>