<form name="expectedFormCtrl.expectedForm" class="form" novalidate>
    <div class="row">
        <div class="col-md-3">
            <select-fornitore-form label-name="Fornitore" model="expectedFormCtrl.model" attribute-m="fornitore" required=true>
            </select-fornitore-form>
        </div>
        <div class="col-md-3">
            <input-date-form label-name="Data Prevista" model="expectedFormCtrl.model" attribute-m="dataPrevista" required=true>
            </input-date-form>
        </div>
         <div class="col-md-3">
            <select-materiale-form label-name="Materiale" model="expectedFormCtrl.model" attribute-m="materiale" required=false>
            </select-materiale-form>
        </div>
        <div class="col-md-3">
            <select-tipo-form label-name="Tipo" model="expectedFormCtrl.model" attribute-m="tipo" required=false>
            </select-tipo-form>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3">
            <select-spessore-form label-name="Spessore" model="expectedFormCtrl.model" attribute-m="spessore" required=false>
            </select-spessore-form>
        </div>
    
        <div class="col-md-3">
            <select-larghezza-form label-name="Larghezza" model="expectedFormCtrl.model" attribute-m="larghezza" required=false>
            </select-larghezza-form>
        </div>
        
        <div class="col-md-3">
            <select-lunghezza-form label-name="Lunghezza" model="expectedFormCtrl.model" attribute-m="lunghezza" required=true>
            </select-lunghezza-form>
        </div>

        <div class="col-md-3">
            <select-superficie-form label-name="Superficie" model="expectedFormCtrl.model" attribute-m="superficie">
            </select-superficie-form>
        </div>
     </div>
     
    <div class="row">
        <div class="col-md-3">
            <select-qualita-form label-name="Qualita" model="expectedFormCtrl.model" attribute-m="qualita">
            </select-qualita-form>
        </div>
        <div class="col-md-3">
            <select-finitura-form label-name="Finitura" model="expectedFormCtrl.model" attribute-m="finitura">
            </select-finitura-form>
        </div>
        <div class="col-md-3">
            <select-colore-form label-name="Colore" model="expectedFormCtrl.model" attribute-m="colore">
            </select-colore-form>   
        </div>
        <div class="col-md-3">
            <input-num-form label-name="Peso" model="expectedFormCtrl.model" attribute-m="pesoOrdinato" required=true></input-num-form>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3">
            <input-prezzo-form label-name="Prezzo" model="expectedFormCtrl.model" attribute-m="prezzo"></input-prezzo-form>
        </div>
    </div>

    <div ng-transclude="formButton"></div>
</form>
