<h2 ng-if="!isEnabled">RIEPILOGO</h2>

<div ng-show="!isEnabled">
	<uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="entryLimit" max-size="maxSize" class="pagination" boundary-links="true" force-ellipses="true"></uib-pagination>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			
			<th>
				<input type="date" ng-model="dataConsegna">
			</th>
			
			<th>
				<input ng-model="region">
			</th>
			
			<th>
				<input ng-model="provincia">
			</th>
			
			<th>
				<input ng-model="clienteCod">
			</th>
			
			<th>
				<input ng-model="ordineCod">
			</th>
			
			<th></th>
			
			<th>
				<select ng-model="materiale" ng-options="materiale for materiale in features.materiali">
					<option value="">-- seleziona --</option>
				</select>
			</th>

			<th>
				<select ng-model="tipo" ng-options="tipo for tipo in features.tipi">
					<option value="">-- seleziona --</option>
				</select>
			</th>


			<th>
				<select ng-model="spessore" ng-options="spess for spess in features.spessori" convert-to-float>
					<option value="">-- seleziona --</option>
				</select>
			</th>
		</tr>
		<tr>
			<th>Data Consegna</th>
			<th>Regione</th>
			<th>Provincia</th>
			<th>Cod. Cliente</th>
			<th>Num. Ordine</th>
			<th>Cod. Articolo</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Lungh</th>
			<th>Peso</th>
			<th>Quant</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
			<th>Riepilogo</th>
			<th>Stato</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="article in articles | filterriep:dataConsegna:region:provincia:clienteCod:ordineCod:materiale:tipo:spessore | orderBy:'dataConsegna'|startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
			<td>{{article.dataConsegna | date:'medium'}}</td>
			<td>{{article.region}}</td>
			<td>{{article.provincia}}</td>
			<td><button ng-if="article.clienteCod" type="button" class="btn btn-info btn-block" ng-click="viewArticleCustomer(article)" data-target="#viewarticlecustomer2" data-toggle="modal">{{article.clienteCod}}</button></td>
			<td>{{article.ordineCod}}</td>
			<td>{{article.codArticolo}}</td>
			<td>{{article.materiale}}</td>
			<td>{{article.tipo}}</td>
			<td>{{article.spessore}}</td>
			<td>{{article.larghezza}}</td>
			<td>{{article.lunghezza}}</td>
			<td>{{article.peso}}</td>
			<td>{{article.quantita}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{article.prezzo}}</td>
			<td>
				<button ng-if="article.stockId != undefined" type="button" class="btn btn-info btn-block" ng-click="viewStock(article)" data-target="#viewstock2" data-toggle="modal">Stock</button>
				<button ng-if="article.stato == 'lavorazione'" type="button" class="btn btn-info btn-block" ng-click="viewArticleProcesses(article)" data-toggle="modal" data-target="#viewprocesses2">Lavorazioni</button>
			</td>
			<td ng-if="article.stato == undefined">{{article.stato}}</td>
			<td ng-if="article.stato == 'libero'"><span class="label label-default">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'definito'"><span class="label label-info">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'lavorazione'"><span class="label label-warning">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'completato'"><span class="label label-success">{{article.stato}}</span></td>
			<td ng-if="isEnabled">
				<button type="button" class="btn btn-primary btn-circle" ng-click="addArticle(article, articles.indexOf(article))"><span class="glyphicon glyphicon-plus"></span></button>
			</td>
		</tr>
	</tbody>
</table>

<!--view_article_stock.html-->
<div id="viewstock2" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">STOCK SELEZIONATO</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/production/production_state/view_article_stock.html'"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal view_article_processes.html-->
<div id="viewprocesses2" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">ELENCO LAVORAZIONI</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/production/production_state/view_article_processes.html'"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal view_process_children.html-->
<div id="viewprocesschildren2" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">COLLI REALIZZATI</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/production/production_state/view_process_children.html'"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal view_article_customer.html-->
<div id="viewarticlecustomer2" class="modal modal-xl fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">CLIENTE {{customer.codice}}</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'public/production/production_state/view_article_customer.html'"></div>
			</div>
		</div>
	</div>
</div>