<h2>STOCK</h2> 
<table class="table table-bordered table-hover">
	<thead>
	    <tr>
			<th>Spessore</th>
			<th>C.Larghezza</th>
			<th>Matricola</th>
			<th>Tipo</th>
			<th>Materiale</th>
			<th>Qualita</th>
			<th>Scelta</th>
			<th>Finitura</th>
			<th>Colore/Ral</th>
			<th>Peso</th>
			<th>Larghezza</th>
			<th>Lunghezza</th>
			<th>N.Fogli</th>
			<th>Prezzo</th>
			<th>Difetti</th>
			<th>Stabilimento</th>
			<th>Scarto</th>
		</tr>
	</thead>
  	<tbody>
    	<tr ng-repeat="product in products | orderBy:'spessore':false:'classeLarghezza'">
      		<td>{{product.spessore}}</td>
			<td>{{product.classeLarghezza}}</td>
			<td>{{product.matricola}}</td>
			<td>{{product.tipo}}</td>
			<td>{{product.materiale}}</td>
			<td>{{product.qualita}}</td>
			<td>{{product.scelta}}</td>
			<td>{{product.finitura}}</td>
			<td>{{product.coloreRal}}</td>
			<td>{{product.peso}}</td>
			<td>{{product.larghezza}}</td>
			<td>{{product.lunghezza}}</td>
			<td>{{product.numFogli}}</td>
			<td>{{product.prezzo}}</td>
			<td>{{product.difetti}}</td>
			<td>{{product.stabilimento}}</td>
			<td>{{product.scarto}}</td>
			<td>
				<div class="dropdown">
  					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
  					<ul class="dropdown-menu">
    					<li><button type="button" class="btn btn-warning btn-block" href="#newproduct" data-toggle="modal" ng-click="openProduct(product)">Modifica</button></li>
    					<li><button type="button" class="btn btn-danger btn-block" ng-click="deleteProduct(product)" href="#">Cancella</button></li>
  					</ul>
				</div>
			</td>
      	</tr>
    </tbody>
</table>


<!-- Modal new_product.html-->
<div id="newproduct" class="modal fade" role="dialog" data-focus-on="input:first" >
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modifica Prodotto {{product.matricola}}</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'carichi_in/new_product.html'"></div>
			</div>
			<div class="modal-footer">
				<button ng-if="productForm.$valid" type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateProduct(product)" >Conferma</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
			</div>
		</div>
	</div>
</div>