<h1>STOCK</h1> 

<table class="table">
	<thead>
		<th><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Materiale</th>
		<th><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Tipo</th>
		<th><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Spessore</th>
		<th><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>C.Larghezza</th>
	</thead>
	<tbody>
	<td>
		<ul>
			<div>
				<input type="checkbox" ng-click="includeMaterial('zincato')">Zincato&nbsp&nbsp
				<input type="checkbox" ng-click="includeMaterial('decapato')">Decapato&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeMaterial('laf')">Laf&nbsp&nbsp
				<input type="checkbox" ng-click="includeMaterial('preverniciato')">Preverniciato&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeMaterial('caldo')">Caldo&nbsp&nbsp
				<input type="checkbox" ng-click="includeMaterial('aluzinc')">Aluzinc&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeMaterial('alluminato')">Alluminato&nbsp&nbsp
				<input type="checkbox" ng-click="includeMaterial('elettrozincato')">Elettrozincato&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeMaterial('inox')">Inox&nbsp&nbsp
			</div>
		</ul>
	</td>
	<td>
		<ul>
			<div>
				<input type="checkbox" ng-click="includeType('coil')">Coil&nbsp&nbsp
				<input type="checkbox" ng-click="includeType('nastro')">Nastro&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeType('piana')">Piana&nbsp&nbsp
				<input type="checkbox" ng-click="includeType('ondulata')">Ondulata&nbsp&nbsp
				<input type="checkbox" ng-click="includeType('grecata')">Grecata&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeType('collaboranteh55')">Collaborante H55&nbsp&nbsp
				<input type="checkbox" ng-click="includeType('collaboranteh55-s')">Collaborante H55-S&nbsp&nbsp
			</div>
			<div>
				<input type="checkbox" ng-click="includeType('collaboranteh75')">Collaborante H75&nbsp&nbsp
				<input type="checkbox" ng-click="includeType('collaboranteh75-s')">Collaborante H75-S&nbsp&nbsp
			</div>
		</ul>
	</td>
	<td>
		<ul>
			<div>
				<input type="checkbox" ng-click="includeSpessor(0.25)">0.25&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.3)">0.30&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.35)">0.35&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.4)">0.40&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.45)">0.45&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.5)">0.50&nbsp&nbsp
			</div>	
			<div>
				<input type="checkbox" ng-click="includeSpessor(0.6)">0.60&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.7)">0.70&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.8)">0.80&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(0.9)">0.90&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(1)">1.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(1.2)">1.20&nbsp&nbsp
			</div>
			<div>	
				<input type="checkbox" ng-click="includeSpessor(1.5)">1.50&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(1.8)">1.80&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(2)">2.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(2.5)">2.50&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(3)">3.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(4)">4.00&nbsp&nbsp
				
			</div>
			<div>
				<input type="checkbox" ng-click="includeSpessor(5)">5.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(6)">6.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(8)">8.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(10)">10.00&nbsp&nbsp
				<input type="checkbox" ng-click="includeSpessor(12)">12.00&nbsp&nbsp
			</div>
		</ul>
	</td>
	<td>
		<ul>
			<div><input type="checkbox" ng-click="includeLarg(1000)">1000</div>
			<div><input type="checkbox" ng-click="includeLarg(1250)">1250</div>
			<div><input type="checkbox" ng-click="includeLarg(1500)">1500</div>
		</ul>
	</td>
	</tbody>
</table>

<fieldset ng-repeat-start="m2p in monster | filter:materialFilter">
	<h3 align="center"><b>Materiale: {{m2p.key|uppercase}}</b> {{m2p.weight}} kg</h3>
	<div ng-repeat-start="t2p in m2p.value |filter:typeFilter">
		<legend><b>Tipo: {{t2p.key|uppercase}}</b> {{t2p.weight}} kg</legend>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Num Collo</th>
					<th>Matricola</th>
					<th>Spessore</th>
					<th>Largh. Nom.</th>
					<th>Largh. Eff.</th>
					<th>Qualita</th>
					<th>Scelta</th>
					<th>Finitura</th>
					<th>Colore/Ral</th>
					<th>Superficie</th>
					<th>Lungh</th>
					<th>Num. Fogli</th>
					<th>Peso Netto(kg)</th>
					<th>Peso Lordo(kg)</th>
					<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
					<th>Difetti</th>
					<th>Stab</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="s2p in t2p.value|filter:spessorFilter"></tr>
				<tr ng-repeat-start="l2p in s2p.value|filter:largFilter"></tr>
				<tr ng-repeat="p in l2p.value">
					<td>
						<span style="color:blue">{{p.numeroCollo}}</span>
					</td>
					<td>{{p.matricola}}</td>
					<td>{{s2p.key}}</td>
					<td>{{l2p.key}}</td>
					<td>{{p.larghezza}}</td>
					<td>{{p.qualita|uppercase}}</td>
					<td>{{p.scelta}}</td>
					<td>{{p.finitura}}</td>
					<td>{{p.coloreRal}}</td>
					<th>{{p.superficie}}</th>
					<td>{{p.lunghezza}}</td>
					<td>{{p.numFogli}}</td>
					<td>
						<span ng-if="p.pesoNetto>=5000" style="color:green">{{p.pesoNetto}}</span>
						<span ng-if="p.pesoNetto<5000" style="color:orange">{{p.pesoNetto}}</span>
					</td>
					<td>{{p.pesoLordo}}</td>
					
					<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{p.prezzo}}</td>
					<td>{{p.difetti}}</td>
					<td>{{p.stabilimento}}</td>
					<td>
						<button type="button" class="btn btn-danger btn-block" ng-click="prepareDeleteStock(p,monster.indexOf(m2p),m2p.value.indexOf(t2p),t2p.value.indexOf(s2p),s2p.value.indexOf(l2p),l2p.value.indexOf(p))" data-target="#deletestock" data-toggle="modal">
							<div>Esaurito</div><span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
					
				</tr>
				<tr ng-repeat-end>
					<td colspan="16"><div align="right"><b>Totale:</b> {{l2p.weight}} kg</div></td>
				</tr>
				<tr ng-repeat-end ng-hide="true"></tr>
			</tbody>
		</table>
	</div>
	<div ng-repeat-end ng-hide="true"></div>
</fieldset>
<fieldset ng-repeat-end ng-hide="true"></fieldset>



<!-- Modal deletestock-->
<div id="deletestock" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" align="center">Elimina Stock</h3>
			</div>
			<div class="modal-body">
				<div>Verrà eliminato definitivamente il prodotto all'interno dello stock</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
				<button type="button" class="btn btn-success" ng-click="deleteProduct(product,index1,index2,index3,index4,index5)" data-dismiss="modal">Conferma</button>
			</div>
		</div>
	</div>
</div>