<div ng-transclude="pagination"></div>
<div ng-transclude="filters"></div>
<table class="table table-condensed table-bordered table-hover">
	<thead>
		<tr>
			<th>Data Consegna</th>
			<th>Regione</th>
			<th>Provincia</th>
			<th>Cod. Cliente</th>
			<th>Num. Ordine</th>
			<th>Cod. Articolo</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Lungh</th>
			<th>Peso</th>
			<th>Quant</th>
			<th ng-if="$root.user.role == 'admin'">Prezzo (&euro;/t)</th>
			<th>Riepilogo</th>
			<th>Stato Produzione</th>
			<th>Stato Evasione</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="article in articleTableCtrl.articleList | prodOverviewFilter:search | orderBy:'dataConsegna'|startFrom:(articleTableCtrl.currentPage-1)*articleTableCtrl.entryLimit | limitTo:articleTableCtrl.entryLimit">
			<td custom-date model="article" attribute="dataConsegna"></td>
			<td>{{article.region}}</td>
			<td>{{article.provincia}}</td>
            <td>
<!--
                <modal-directive modal-content="articleTableCtrl.articleCustomerModalContent">
                    <open-button>
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#{{articleTableCtrl.articleCustomerModalContent.modalId}}" ng-click="articleTableCtrl.getArticleCustomer(article.clienteCod)">{{article.clienteCod}}</button>
                    </open-button>
                </modal-directive>
-->
                <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#{{articleTableCtrl.articleCustomerModalContent.modalId}}" ng-click="articleTableCtrl.getArticleCustomer(article.clienteCod)">{{article.clienteCod}}</button>
            </td>
			<td>{{article.ordineCod}}</td>
			<td>{{article.codArticolo}}</td>
			<td>{{article.materiale}}</td>
			<td>{{article.tipo}}</td>
			<td>{{article.spessore}}</td>
			<td>{{article.larghezza}}</td>
			<td>{{article.lunghezza}}</td>
			<td>{{article.peso}}</td>
			<td>{{article.quantita}}</td>
			<td ng-if="$root.user.role == 'admin'">{{article.prezzo}}</td>
			<td>
<!--
                <modal-directive ng-if="article.stockId != undefined" button-action="articleTableCtrl.getArticleStock(article.stockId)" button-name='Stock' modal-content="articleTableCtrl.articleStockModalContent"></modal-directive>
                <modal-directive ng-if="article.statoProduzione == 'lavorazione' || article.statoProduzione == 'completato'" button-action="articleTableCtrl.getArticleProcessing(article)" button-name='Lavorazioni' modal-content="articleTableCtrl.articleProcessingModalContent"></modal-directive>
-->
			</td>
            <td production-state model = "article" attribute = "statoProduzione"></td>
            <td evasion-state model = "article" attribute = "statoEvasione"></td>
            <td ng-transclude="buttonAction"></td>
		</tr>
	</tbody>
</table>


<!--Modal article customer-->
<div ng-class="articleTableCtrl.articleCustomerModalContent.modalClass" id="{{articleTableCtrl.articleCustomerModalContent.modalId}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{articleTableCtrl.articleCustomerModalContent.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <customer-table customer='articleTableCtrl.articleCustomerModalContent.customer'></customer-table>
            </div>
        </div>
    </div>
</div>