<fieldset ng-repeat = "processing in processingListCtrl.processingList | orderBy:'data'">
    <legend>
        <div class="row">
            <div class="col-md-3">
                <b>LAVORAZIONE {{processingListCtrl.processingList.indexOf(processing)+1}}</b>
            </div>
            <div class="col-md-3">
                {{processing.data | date:'medium'}}
            </div>
            <div class="col-md-2">
                Operatore: {{processing.operatore}}
            </div>
            <div class="col-md-2">
                Macchinario: {{processing.macchinario}}
            </div>
            <div class="col-md-2">
                Scarto: {{processing.scarto}}
            </div>
        </div>
    </legend>
    <br>
    <div>
        <inbound-product-table inbound-list="processing.products1" entry-limit="processing.products1.length" current-page=1 caption="STOCK UTILIZZATI">
        </inbound-product-table>
    </div>
    <br>
    <div>
        <inbound-product-table inbound-list="processing.products2" entry-limit="processing.products2.length" current-page=1 caption="COLLO REALIZZATO">
        </inbound-product-table>
    </div>
    <br><br>
</fieldset>
		