<form name="$parent.childForm" class="form-horizontal" novalidate>

	<fieldset>
		<legend>BANCALE:</legend>
		<div class="form-group">
			<label for="peso" class="col-md-2 control-label">Peso Bancale(kg):</label>
			<div class="col-md-10">
				<input type="number" ng-model="$parent.bancale" class="form-control" required/>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>REALIZZATO:</legend>
		<div class="form-group">
			<label for="tipo" class="col-md-2 control-label">Tipo:</label>  
			<div class="col-md-10">
				<select ng-model="$parent.child.tipo" class="form-control" required>
					<option value="coil">Coil</option>
					<option value="nastro">Nastro</option>
					<option value="piana">Piana</option>
					<option value="ondulata">Ondulata</option>
					<option value="grecata">Grecata</option>
					<option value="pressopiegato">Pressopiegata</option>
					<option value="collaboranteh55">Collaborante h55</option>
					<option value="collaboranteh55-s">Collaborante h55-S</option>
					<option value="collaboranteh75">Collaborante h75</option>
					<option value="collaboranteh75-s">Collaborante h75-S</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="peso" class="col-md-2 control-label">PesoLordo(kg):</label>
			<div class="col-md-10">
				<input type="number" ng-model="$parent.child.pesoLordo" class="form-control" required/>
			</div>
		</div>

		<div class="form-group" ng-if="!article && $parent.child.tipo != 'coil' && $parent.child.tipo != 'nastro'">
			<label for="lunghezza" class="col-md-2 control-label">Lunghezza:</label>
			<div class="col-md-10">
				<input type="text" ng-model="$parent.child.lunghezza" class="form-control" required/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="note" class="col-md-2 control-label">Difetti:</label>
			<div class="col-md-10">
				<textarea name="textArea" ng-model="$parent.child.difetti" class="form-control"></textarea>
			</div>
		</div>
	</fieldset>
	
	<fieldset ng-hide="machinery.sigle == 'a'">
		<legend>SCARTO:</legend>
		<div class="form-group">
			<label for="scarto" class="col-md-2 control-label">Lunghezza (mm):</label>
			<div class="col-md-10">
				<input type="number" ng-model="$parent.scarto" class="form-control" required/>
			</div>
		</div>
	</fieldset>
</form>