<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Data Consegna</th>
			<th>Cod.Articolo</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spessore</th>
			<th>Larghezza</th>
			<th>Lunghezza</th>
			<th>Peso</th>
			<th>Quantita</th>
			<th>Prezzo</th>
			<th>Stock</th>
			<th>Stato</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="article in articlesState | orderBy:['materiale','tipo','spessore','larghezza']">
			<td>{{article.dataConsegna| date:'medium'}}</td>
			<td>{{article.codArticolo}}</td>
			<td>{{article.materiale}}</td>
			<td>{{article.tipo}}</td>
			<td>{{article.spessore}}</td>
			<td>{{article.larghezza}}</td>
			<td>{{article.lunghezza}}</td>
			<td>{{article.peso}}</td>
			<td>{{article.quantita}}</td>
			<td>{{article.prezzo}}</td>
			<td>
				<div ng-if="article.stato == 'definito' || article.stato == 'lavorazione'">
					<button ng-if="!article.stockId" type="button" class="btn btn-primary btn-block" ng-click="openListStocks(article)" data-target="#stock" data-toggle="modal">Seleziona</button>
					<div>
						<button ng-if="article.stockId != undefined" type="button" class="btn btn-info btn-block" ng-click="viewStock(article)" data-target="#viewstock" data-toggle="modal">Visualizza</button>
						<button ng-if="article.stockId != undefined" type="button" class="btn btn-primary btn-block" ng-click="openListStocks(article)" data-target="#stock" data-toggle="modal">Modifica</button>
					</div>
				</div>
			</td>
			<td ng-if="article.stato == undefined">{{article.stato}}</td>
			<td ng-if="article.stato == 'libero'"><span class="label label-default">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'definito'"><span class="label label-info">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'lavorazione'"><span class="label label-warning">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'completato'"><span class="label label-success">{{article.stato}}</span></td>
			<td ng-if="article.stato == 'definito' || article.stato == 'lavorazione'">
				<div>
					<button type="button" class="btn btn-warning btn-block" ng-click="startWork(article)" data-toggle="modal" href="#newprocess">Lavora<span class="glyphicon glyphicon-wrench"></span></button>
					<button type="button" class="btn btn-success btn-block" ng-click="prepareCompleteArticle(article)" data-toggle="modal" href="#completearticle">Completo<span class="glyphicon glyphicon-ok"></span></button>
				</div>
			</td>
			<td ng-if="isEnabled">
				<button type="button" class="btn btn-danger btn-circle" ng-click="deleteArticle(article, articlesState.indexOf(article))"><span class="glyphicon glyphicon-trash"></span></button>
			</td>
		</tr>
	</tbody>
</table>
