<table class="table table-bordered">
    <thead>
		<tr>
			<th>
				<input ng-model="numeroCollo">
			</th>
			<td></td>
			<th>
				<select ng-model="materiale" ng-options="materiale for materiale in features.materiali">
					<option value="">-- seleziona --</option>
				</select>
			</th>
			
			<th>
				<select ng-model="tipo" ng-options="tipo for tipo in features.tipi">
					<option value="">-- seleziona --</option>
				</select>
			</th>


			<th>
				<select ng-model="spessore" ng-options="spess for spess in features.spessoriNominali" convert-to-float>
					<option value="">-- seleziona --</option>
				</select>
			</th>
			<th>
				<select ng-model="classeLarghezza" ng-options="cLargh for cLargh in features.larghezzeNominali" convert-to-number>
					<option value="">-- seleziona --</option>
				</select>	
			</th>
		</tr>
		<tr>
			<th>Numero Collo</th>
			<th>Matricola</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh. Nom.</th>
			<th>Largh. Eff.</th>
			<th>Qualita</th>
			<th>Scelta</th>
			<th>Finitura</th>
			<th>Colore Ral</th>
			<th>Superficie</th>
			<th>Lungh</th>
			<th>N.Fogli</th>
			<th>Peso</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
			<th>Difetti</th>
			<th>Stab</th>
		</tr>
	</thead>
    <tbody>
		<tr ng-repeat="product in products | filterstock:numeroCollo:materiale:tipo:spessore:classeLarghezza | orderBy:['materiale','tipo','spessore','classeLarghezza'] | filter:search">
			<td><span style="color:blue">{{product.numeroCollo}}</span></td>
			<td>{{product.matricola}}</td>
			<td>{{product.materiale}}</td>
			<td>{{product.tipo}}</td>
			<td>{{product.spessore}}</td>
			<td>{{product.classeLarghezza}}</td>
			<td>{{product.larghezza}}</td>
			<td>{{product.qualita}}</td>
			<td>{{product.scelta}}</td>
			<td>{{product.finitura}}</td>
			<td>{{product.coloreRal}}</td>
			<td>{{product.superficie}}</td>
			<td>{{product.lunghezza}}</td>
			<td>{{product.numFogli}}</td>
			<td>{{product.pesoNetto}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{product.prezzo}}</td>
			<td>{{product.difetti}}</td>
			<td>{{product.stabilimento}}</td>
			<td>
				<button ng-if="workInProgress == true" type="button" class="btn btn-warning btn-circle" ng-click="selectStock2(product)" data-dismiss="modal">
					<span class="glyphicon glyphicon-wrench"></span>
				</button>
				<button ng-if="!workInProgress" type="button" class="btn btn-success btn-circle" ng-click="selectStock(product)" data-dismiss="modal">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</td>
		</tr>
    </tbody>
</table>
			