<form name="$parent.stockForm" class="form-horizontal" novalidate>

	<div class="form-group">
		<label for="peso" class="col-md-2 control-label">Peso(kg):</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.stock.pesoLordo" class="form-control" required/>
		</div>
	</div>

	<div class="form-group">
		<label for="larghezza" class="col-md-2 control-label">Larghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.stock.larghezza" class="form-control" required/>
		</div>
	</div>

	<div class="form-group" ng-if="$parent.stock.tipo != 'coil' && $parent.stock.tipo != 'nastro'">
		<label for="lunghezza" class="col-md-2 control-label">Lunghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.stock.lunghezza" class="form-control" required/>
		</div>
	</div>


	<div class="form-group">
		<label for="note" class="col-md-2 control-label">Difetti:</label>
		<div class="col-md-10">
			<textarea name="textArea" ng-model="$parent.stock.difetti" class="form-control"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="stabilimento" class="col-md-2 control-label">Stabilimento:</label>
		<div class="col-md-10">
			<select ng-model="$parent.stock.stabilimento" class="form-control" convert-to-number required>
				<option value="1">1</option><option value="2">2</option>
			</select>
		</div>
	</div>
</form>