<form name="$parent.stockForm" class="form-horizontal" novalidate>

	<div class="form-group">
		<label for="peso" class="col-md-2 control-label">Peso(kg):</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.stock.pesoLordo" class="form-control" required/>
		</div>
	</div>

<!--
	<div class="form-group">
		<label for="spessore" class="col-md-2 control-label">Spessore:</label>
		<div class="col-md-10">
			<select ng-model="$parent.stock.spessore" class="form-control" convert-to-number required>
				<option value="0.25">0.25</option><option value="0.3">0.30</option><option value="0.35">0.35</option>
				<option value="0.4">0.40</option><option value="0.45">0.45</option><option value="0.5">0.50</option>
				<option value="0.6">0.60</option><option value="0.7">0.70</option><option value="0.8">0.80</option>
				<option value="0.9">0.90</option><option value="1">1.00</option><option value="1.2">1.20</option>
				<option value="1.5">1.50</option><option value="1.8">1.80</option><option value="2">2.00</option>
				<option value="2.5">2.50</option><option value="3">3.00</option><option value="4">4.00</option>
				<option value="5">5.00</option><option value="6">6.00</option><option value="8">8.00</option>
				<option value="10">10.00</option>
			</select>
		</div>
	</div>
-->

	<div class="form-group">
		<label for="larghezza" class="col-md-2 control-label">Larghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.stock.larghezza" class="form-control" required/>
		</div>
	</div>

	<div class="form-group" ng-if="$parent.stock.tipo != 'coil' && $parent.stock.tipo != 'nastro'">
		<label for="lunghezza" class="col-md-2 control-label">Lunghezza:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.stock.lunghezza" class="form-control" required/>
		</div>
	</div>


	<div class="form-group">
		<label for="note" class="col-md-2 control-label">Difetti:</label>
		<div class="col-md-10">
			<textarea name="textArea" ng-model="$parent.stock.difetti" class="form-control"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="stabilimento" class="col-md-2 control-label">Stabilimento:</label>
		<div class="col-md-10">
			<select ng-model="$parent.stock.stabilimento" class="form-control" convert-to-number required>
				<option value="1">1</option><option value="2">2</option>
			</select>
		</div>
	</div>
</form>