<table class="table">
    <thead>		
		<tr>
			<th>Num Collo</th>
			<th>Matricola</th>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spessore</th>
			<th>Largh Nominale</th>
			<th>Qualita</th>
			<th>Scelta</th>
			<th>Finitura</th>
			<th>Colore/Ral</th>
			<th>Superficie</th>
			<th>Largh Effettiva</th>
			<th>Lungh</th>
			<th>Num. Fogli</th>
			<th>Peso Netto(kg)</th>
			<th>Peso Lordo(kg)</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
			<th>Difetti</th>
			<th>Stab</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span style="color:blue">{{stock.numeroCollo}}</span></td>
			<td>{{stock.matricola}}</td>
			<td>{{stock.materiale}}</td>
			<td>{{stock.tipo}}</td>
			<td>{{stock.spessore}}</td>
			<td>{{stock.classeLarghezza}}</td>
			<td>{{stock.qualita}}</td>
			<td>{{stock.scelta}}</td>
			<td>{{stock.finitura}}</td>
			<td>{{stock.coloreRal}}</td>
			<td>{{stock.superficie}}</td>
			<td>{{stock.larghezza}}</td>
			<td>{{stock.lunghezza}}</td>
			<td>{{stock.numFogli}}</td>
			<td>{{stock.pesoNetto}}</td>
			<td>{{stock.pesoLordo}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{stock.prezzo}}</td>
			<td>{{stock.difetti}}</td>
			<td>{{stock.stabilimento}}</td>
		</tr>
    </tbody>
</table>