<table class="table">
    <thead>		
		<tr>
			<th>Data</th>
			<th>Macchina</th>
			<th>Operatore</th>
			<th>Scarto</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="process in articleProcesses | orderBy:'data'">
			<td>{{process.data | date:'medium'}}</td>
			<td>{{process.macchina}}</td>
			<td>{{process.operatore}}</td>
			<td>{{process.scarto}}</td>
			<td ng-if="riepilogo"><button type="button" class="btn btn-info btn-block" ng-click="viewChildrenProcess(process)" data-toggle="modal" data-target="#viewprocesschildren2">Realizzati</button></td>
			<td ng-if="!riepilogo"><button type="button" class="btn btn-info btn-block" ng-click="viewChildrenProcess(process)" data-toggle="modal" data-target="#viewprocesschildren">Realizzati</button></td>
		</tr>
    </tbody>
</table>