<form name="$parent.expectedForm" class="form-horizontal" novalidate>

	
	
	<div class="form-group">
		<label for="tipo" class="col-md-2 control-label">Tipo:</label>  
		<div class="col-md-10">
			<select ng-model="$parent.expected.tipo" ng-options="tipo for tipo in features.tipi" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="materiale" class="col-md-2 control-label">Materiale:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.materiale"  ng-options="materiale for materiale in features.materiali" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if = "expected.materiale == 'zincato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.qualita" ng-options="qualZinc for qualZinc in features.qualitaZincato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "expected.materiale == 'decapato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">		
			<select ng-model="$parent.expected.qualita" ng-options="qualDec for qualDec in features.qualitaDecapato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "expected.materiale == 'laf'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.qualita" ng-options="qualLaf for qualLaf in features.qualitaLaf" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "expected.materiale == 'caldo'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.qualita" ng-options="qualCal for qualCal in features.qualitaCaldo" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "expected.materiale == 'preverniciato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.qualita" ng-options="qualPrev for qualPrev in features.qualitaPreverniciato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "expected.materiale == 'elettrozincato'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.qualita" ng-options="qualEl for qualEl in features.qualitaElettrozincato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if = "expected.materiale == 'inox'">
		<label for="qualita" class="col-md-2 control-label">Qualita:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.qualita" ng-options="qualIn for qualIn in features.qualitaInox" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
		
	<div class="form-group" ng-if = "expected.materiale == 'preverniciato' || expected.materiale == 'zincato'">
		<label for="finitura" class="col-md-2 control-label">Finitura:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.finitura" ng-options="finZP for finZP in features.finitureZincPrev" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-if = "expected.materiale == 'inox'">
		<label for="finitura" class="col-md-2 control-label">Finitura:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.finitura" ng-options="finIn for finIn in features.finitureInox" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if = "expected.materiale == 'preverniciato'">
		<label for="coloreRal" class="col-md-2 control-label">Colore/Ral:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.coloreRal" ng-options="colore for colore in features.colori" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	
	<div class="form-group" ng-if = "expected.materiale == 'zincato'">
		<label for="coloreRal" class="col-md-2 control-label">Superficie:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.superficie" ng-options="superficie for superficie in features.superficiZincato" class="form-control">
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="peso" class="col-md-2 control-label">Peso(kg):</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.expected.pesoNetto" class="form-control"/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="spessore" class="col-md-2 control-label">Spessore:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.spessore" class="form-control" ng-options="spessore for spessore in features.spessori" convert-to-float>
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="larghezza" class="col-md-2 control-label">Larghezza:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.larghezza" class="form-control" ng-options="larghezza for larghezza in features.classiLarghezza" convert-to-number>
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-if="expected.tipo != 'coil' && expected.tipo != 'nastro'">
		<label for="lunghezza" class="col-md-2 control-label">Lunghezza:</label>
		<div class="col-md-10">
			<select ng-model="$parent.expected.lunghezza" ng-options="lunghezza for lunghezza in features.lunghezze" class="form-control" convert-to-number>
				<option value="">-- seleziona --</option>
			</select>
		</div>
	</div>

	<div ng-if="userRole == 'logistica' || userRole == 'admin'" class="form-group">
		<label for="prezzo" class="col-md-2 control-label">Prezzo:</label>
		<div class="col-md-10">
			<input type="number" ng-model="$parent.expected.prezzo" class="form-control"/>
		</div>
	</div>
	
</form>