<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Qualita</th>
			<th>Scelta</th>
			<th>Finitura</th>
			<th>Colore Ral</th>
			<th>Superficie</th>
			<th>Lungh</th>
			<th>N.Fogli</th>
			<th>Peso</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="orderExpectedLoad in orderExpectedLoads">
			<td>{{orderExpectedLoad.materiale}}</td>
			<td>{{orderExpectedLoad.tipo}}</td>
			<td>{{orderExpectedLoad.spessore}}</td>
			<td>{{orderExpectedLoad.larghezza}}</td>
			<td>{{orderExpectedLoad.qualita}}</td>
			<td>{{orderExpectedLoad.scelta}}</td>
			<td>{{orderExpectedLoad.finitura}}</td>
			<td>{{orderExpectedLoad.coloreRal}}</td>
			<td>{{orderExpectedLoad.superficie}}</td>
			<td>{{orderExpectedLoad.lunghezza}}</td>
			<td>{{orderExpectedLoad.numFogli}}</td>
			<td>{{orderExpectedLoad.pesoNetto}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{orderExpectedLoad.prezzo}}</td>
		</tr>
	</tbody>
</table>
