<!--
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Materiale</th>
			<th>Tipo</th>
			<th>Spess</th>
			<th>Largh</th>
			<th>Qualita</th>
			<th>Finitura</th>
			<th>Colore Ral</th>
			<th>Superficie</th>
			<th>Lungh</th>
			<th>N.Fogli</th>
			<th>Peso</th>
			<th ng-if="userRole == 'logistica' || userRole == 'admin'">Prezzo (&euro;/t)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="orderExpected in orderExpecteds">
			<td>{{orderExpected.materiale}}</td>
			<td>{{orderExpected.tipo}}</td>
			<td>{{orderExpected.spessore}}</td>
			<td>{{orderExpected.larghezza}}</td>
			<td>{{orderExpected.qualita}}</td>
			<td>{{orderExpected.finitura}}</td>
			<td>{{orderExpected.coloreRal}}</td>
			<td>{{orderExpected.superficie}}</td>
			<td>{{orderExpected.lunghezza}}</td>
			<td>{{orderExpected.numFogli}}</td>
			<td>{{orderExpected.pesoNetto}}</td>
			<td ng-if="userRole == 'logistica' || userRole == 'admin'">{{orderExpected.prezzo}}</td>
		</tr>
	</tbody>
</table>
-->

<expected-table expected-list="orderExpecteds" feature-list="features"></expected-table>